.dash_auction {
    text-align: center;
    margin-top: 25px;
}

.dash_auction_card .card-body {
    position: relative;
}

.dash_auction_card .card-body .back_btn {
    position: absolute;
}

.dash_auction h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.dash_auction h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    margin-bottom: 25px;
}

.dash_auction button {
    background: #ffaa3a;
    border-radius: 5px;
    padding: 8px 23px;

    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dash_auction button:hover {
    background: #e99b34;
    color: #ffffff;
}

.dash_auction .row {
    margin-bottom: 25px;
}

.dash_auction img {
    width: 100%;
}

.dash_auction h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.auction_table_head {
    margin-top: 100px;
}

.dash_auction table {
    margin: 25px auto;
    width: 70%;
}

.dash_auction table thead {
    background: #f5f8fa;
    border-radius: 5px;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.3);
}

.dash_auction table tbody tr.my_name {
    background: rgba(255, 170, 58, 0.2);
    border-radius: 5px;
}

.dash_auction table tbody tr td.number {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.dash_auction table tbody tr td {
    vertical-align: middle;
}

.dash_auction table tbody tr td.first {
    color: #ffaa3a;
}
.dash_auction table tbody tr td.second {
    color: #9ea4a8;
}
.dash_auction table tbody tr td.third {
    color: #cf7000;
}

.auction_heading {
    margin-top: 50px;
    margin-bottom: 25px;
    position: relative;
}

.auction_heading .quick-search {
    background: #ffffff;
    border-radius: 5px;
    height: 37px;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.auction_heading h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

.auction_upcoming_card .card-body {
    padding: 0 !important;
    overflow: hidden;
}

.auction_upcoming_card img {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
}

.auction_upcoming_desc {
    padding: 1rem;
}

.auction_upcoming_desc h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.auction_upcoming_desc span {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
}

.auction_upcoming button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    padding: 15px;
    width: 250px;
}

.auction_upcoming button:hover {
    color: #ffffff;
    background: #eb9c34;
}

.modal_auction .bid_btn {
    background: #ffaa3a;
    border-radius: 5px;
    padding: 11px 32px;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.modal_auction .back_btn {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px 32px;
    border: 2px solid #ffaa3a;
    box-sizing: border-box;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffaa3a;
}

.auction_countdown_wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
}

.auction_countdown ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.auction_countdown ul li {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #ff0000;
}

.auction_time_head {
    color: #ff0000;
}

.swal2-styled.swal2-confirm {
    width: 150px;
    height: 50px;

    background: #ffaa3a;
    border-radius: 5px;

    font-weight: bold;
    font-size: 18px;
}

.no_auction {
    margin-top: 25px;
    margin-bottom: 75px;
}

.auction-text-tnc {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;

    color: #000000;
}

.dash_caution {
    font-size: 14px;
    color: #e52c2c;
}

@media screen and (max-width: 425px) {
    .dash_auction_card .card-body .back_btn {
        top: 0;
        left: 0;
    }
    .dash_auction_card .card-body .back_btn img {
        width: 25px;
    }

    .dash_auction {
        margin-top: 25px;
    }

    .dash_auction table {
        width: 100%;
        margin: 5px auto;
    }

    .dash_auction h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .dash_auction h6 {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
        margin-bottom: 75px;
    }

    .dash_auction button {
        font-size: 14px;
        line-height: 21px;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .auction_heading h4 {
        font-size: 20px;
        line-height: 28px;
    }

    .auction_heading.history h4 {
        text-align: left;
    }

    .auction_upcoming button {
        font-size: 16px;
        line-height: 22px;
        padding: 10px;
        width: 250px;
    }

    .dash_auction h4 {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
    }

    .auction-text-tnc {
        font-size: 12px;
    }

    .dash_auction table tbody tr td {
        font-size: 12px;
    }

    .auction_heading .quick-search {
        background: #ffffff;
        border-radius: 5px;
        height: 35px;
        width: 125px;
    }

    .auction_countdown h3 {
        font-size: 16px;
        line-height: 22px;
    }

    .auction_countdown h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .no_auction {
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .auction-text-tnc {
        font-size: 12px;
    }

    .auction_upcoming_card img {
        min-height: 150px;
        object-fit: contain;
    }

    .auction_upcoming_desc .d-flex {
        flex-wrap: wrap;
    }

    .auction_upcoming_desc h5 {
        font-size: 14px;
        line-height: 18px;
    }

    .auction_upcoming_desc span {
        font-size: 11px;
    }

    .dash_caution {
        font-size: 12px;
        color: #e52c2c;
    }
}
