.item-v-center {
    align-items: center !important;
}

.coin-header-text,
.coin-header-text i {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.coin-header {
    padding: 30px 40px !important;
    border: none;
}

.input-group-prepend,
.input-group-append {
    width: 40px;
}

.coin-name-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

    color: #000000;
}

.coin-column {
    margin-bottom: 3rem;
}

.redeem-button {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
}

.redeem-button-outline {
    width: 200px;
    border: 3px solid #ffaa3a;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    color: #ffaa3a;
}

.redeem-button-outline:hover {
    background-color: #ffaa3a;
    border: 3px solid #ffaa3a;
    color: white;
}

.coin-card-outline {
    width: 299px;
    height: 123px;

    border: 5px solid #ffaa3a;
    border-radius: 10px;

    display: grid;
    align-content: center;
}

.coin-card .redeem_input {
    max-width: 400px;
    margin: 0 auto;
}

.black-bold-36 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    text-align: center;

    color: #000000;
}

.gray-normal-18 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    color: grey;
}

.black-normal-18 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
}

.black-bold-18 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
}

.address-box {
    width: 50rem;
    margin-top: 4rem;
}

.border-it {
    border: 4px solid #ffaa3a !important;
}

.ex-coin {
    justify-content: flex-end;
}

.coin .card-header {
    border: none;
    padding-top: 30px !important;
}

.redeem.coin-header-text {
    margin-top: -1rem;
}

.line-timeline {
    margin: 0 2px;
    height: 1px;
    width: 26vw;
    background-color: gray;
}

.line-timeline.active {
    background-color: #34cc5d;
}

.timeline-coin {
    margin-top: 3rem;
}

.tl-center {
    margin: 0 20vw;
}

.td__center__vertical{
    display: table-cell!important;
    vertical-align: middle!important;
    text-align: center;
}

.normal-red-500{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px; 
    text-align: center;

    color: #E52C2C;
}

.notes-coin{
    margin: 3rem 0;
}

.status-koin-image{
    cursor: pointer;
}

.modal-coin-header{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px; 
    
    color: #000000;
}

.modal__mt_1{
    margin: 1rem 0;
}

ol.modal-coin-content{
    width: fit-content; 
    margin: auto;
    margin-top: 0.2rem;
}

.modal-coin-content{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#list-koin{
    padding:0 10rem
}

.coin__hot {
    height: 25px;
    border-radius: 15px;
    background: red;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 12px;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    #list-koin{
        padding:0 8rem
    }
}

@media screen and (min-width: 1868px) {
    .line-timeline {
        width: 25vw;
    }
}

@media screen and (min-width: 1920px) {
    .line-timeline {
        width: 24vw;
    }
}

@media screen and (max-width: 1400px) {
    .line-timeline {
        width: 27vw;
    }
}

@media screen and (max-width: 1193px) {
    .line-timeline {
        width: 26vw;
    }
}

@media screen and (max-width: 1024px) {
    .line-timeline {
        width: 28vw;
    }
}

@media screen and (max-width: 992px) {
    .ex-coin {
        justify-content: center;
    }

    .line-timeline {
        width: 30vw;
    }
}

@media screen and (max-width: 768px) {
    .will-hide {
        display: none;
    }

    .coin-header-text,
    .coin-header-text i {
        font-size: 18px;
    }

    .card-header img {
        width: 2rem;
    }

    .redeem.coin-header-text {
        width: 80%;
    }

    .coin .card-header {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .redeem.coin-header-text {
        margin-top: -2rem;
    }

    .line-timeline {
        width: 29vw;
    }
}

@media screen and (max-width: 662px) {
    .tl-center {
        margin: 0 90px;
    }

    .line-timeline {
        width: 160px;
    }
}

@media screen and (max-width: 600px) {
    .black-normal-18,
    .gray-normal-18 {
        font-size: 14px;
    }

    .tl-center {
        margin: 0 80px;
    }

    .line-timeline {
        width: 140px;
    }
}

@media screen and (max-width: 500px) {
    .redeem-button {
        width: 150px;
        font-size: 16px;
    }

    .redeem-button-outline {
        width: 150px;
        font-size: 16px;
    }

    .black-bold-18 {
        font-size: 14px;
    }

    .tl-center {
        margin: 0 90px;
    }

    #line-1 img,
    #line-2 img {
        height: 1px;
    }

    .line-timeline {
        width: 23vw;
    }
}

@media screen and (max-width: 420px) {
    .tl-center {
        margin: 0 50px;
    }

    .line-timeline {
        width: 18vw;
    }
    .coin-header-text {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 375px) {
    .tl-center {
        margin: 0 40px;
    }

    .line-timeline {
        width: 60px;
    }
}

@media screen and (max-width: 360px) {
    .tl-center {
        margin: 0 30px;
    }

    .line-timeline {
        width: 14vw;
    }
}
