.dash_comingsoon .badak_comingsoon {
    max-width: 250px;
    margin-bottom: 25px;
}

.dash_comingsoon button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;

    padding: 7px 25px;

    margin: 25px auto;
}

.dash_comingsoon button:hover {
    color: #ffffff;
    background: #f09f36;
}

@media screen and (max-width: 425px) {
    .dash_comingsoon .badak_comingsoon {
        max-width: 150px;
        margin-bottom: 15px;
    }
}
