.bold-36-black {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #000000;
}

.avatar-box-profile {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 148px;
    height: 148px;
    overflow: hidden;
}

.custom-success-btn {
    background: #00cc5d;
    border-radius: 5px;
    color: #ffffff;
}

.custom-white-btn {
    background: white;
    border: 2px solid #ffaa3a;
    border-radius: 5px;
    color: #ffaa3a;
}

.custom-white-btn:hover {
    color: white;
    background: #ffaa3a;
}

.text-change-img {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #ffaa3a;
}

.btn-change-ava {
    cursor: pointer;
}

.col-form-label {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 21px !important;

    color: rgba(27, 29, 31, 0.5) !important;
}

.wa-verified {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #00cc5d;
}

.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 0;
    position: initial;
    top: 0;
    right: 0;
    width: 0;
}

.select2-container--default .select2-selection--single {
    border-color: #e4e6ef !important;
}

.head-edit-profile {
    padding: 2rem;
    position: relative;
}

.redeem_vouch {
    position: absolute;
    top: -50px;
    right: 0;

    background: #ffaa3a;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.redeem_vouch:hover {
    color: #ffffff;
}

.modal_redeemvoch h5 {
    font-size: 18px;
    line-height: 24px;
}

.modal_redeemvoch form {
    width: 90%;
    margin: 10px auto;
}

.custom-text-error {
    color: #e52c2c;
    font-size: 12px;
    display: none;
}

#ktp_name {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 10px;
}

.terverifikasi {
    background: #e6ffdd;
    border-radius: 8px;
    color: #098b39;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label.file__input {
    display: inline-block;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}

.btn__success1 {
    background: #a6e491;
    box-shadow: 0px 0px 12px rgb(240 238 227 / 82%);
    border-radius: 6px;
    color: #098b39;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}


@media screen and (min-width: 600px) {
    #button-in-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .card-ganti-pass {
        padding: 0 15rem !important;
    }
}

@media screen and (min-width: 992px) {
    .card-edit-profile {
        padding: 0 15rem !important;
    }
    .card-ganti-pass {
        padding: 0 15rem !important;
    }
}

@media screen and (min-width: 1024px) {
    .card-ganti-pass {
        padding: 0 15rem !important;
    }
}

@media screen and (min-width: 1200px) {
    .card-ganti-pass {
        padding: 0 20rem !important;
    }
}

@media screen and (max-width: 992px) {
    .wa-verified {
        font-size: 16px;
        line-height: 22px;
    }
    .img-wa-verified {
        width: 25px;
    }
}

@media screen and (max-width: 768px) {
    .wa-verified {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    #button-in-desktop {
        display: none !important;
    }
}

@media screen and (max-width: 450px) {
    .wa-verified {
        font-size: 12px;
    }
    .img-wa-verified {
        width: 20px;
    }
    .col-4 {
        padding-left: 0.1rem;
    }
    .profile__warning {
      width: 100%;
    }
}
