#faq-page .header-text{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px; 
    text-align: center;

    color: #000000;
}

.accordion.accordion-svg-toggle .card .card-header .card-title.collapsed .svg-icon svg{
    transform: rotate(180deg);
}

.accordion.accordion-svg-toggle .card .card-header .card-title .svg-icon svg{
    transform: rotate(0deg);
}

#faq-page .faq-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px; 

    color: #000000;
}

#faq-page .faq-content{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px; 
    
    color: #000000;
}
 

@media screen and (max-width: 425px) {
    #faq-page{
        margin-top: 8rem;
    }

    #faq-page .header-text{ 
        font-size: 26px;  
        line-height: 40px;  
    }
}