.gacha_inv_card .card-body h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 25px;
}

.gacha_inv_form input {
    width: 40%;
    margin: 25px auto;
}

.gacha_inv_form span {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #9ea4a8;
}

.gacha_inv_form span a {
    color: #ffaa3a;
}

.gacha_inv_form button {
    margin-top: 25px;
}

.gacha_slider {
    max-width: 600px;
    margin: 25px auto;
}

.noUi-connect {
    background: #ffaa3a !important;
}

.gacha_inv_card .card-body h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.gacha_ticket_img {
    width: 200px;
    -ms-transform: rotate(-30deg); /* IE 9 */
    transform: rotate(-30deg);

    margin: 50px auto;
}

.noUi-touch-area:hover {
    cursor: grab;
}

.noUi-connects {
    background: #ffaa3a35;
    border: transparent !important;
}

.gacha_inv_card .card-body .gacha_img {
    width: 300px;
}

.oren {
    color: #ffaa3a;
    font-weight: 900;
}

.gacha_gif {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.gacha_card_head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.gacha_card_head .to_gacha,
.gacha_card_head button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;

    padding: 8px 15px;
}

.gacha_card_head .to_gacha:hover,
.gacha_card_head button:hover {
    color: #ffffff;
    background: #ee9e36;
}

.gacha_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gacha_header button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}

.gacha_header button:hover {
    background: #ee9e36;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .gacha_inv_card .card-body h3 {
        font-size: 18px;
        line-height: 26px;
    }

    .gacha_inv_form span {
        font-size: 12px;
        line-height: 18px;
    }

    .gacha_inv_form input {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .gacha_inv_card .card-body {
        position: relative;
    }

    .gacha_inv_card .card-body a img {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 25px;
    }

    .gacha_inv_card .card-body h3 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 35px;
    }

    .gacha_inv_form span {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .gacha_inv_form input {
        width: 100%;
        margin: 15px auto;
    }

    .gacha_inv_form button {
        margin-top: 15px;
    }

    .gacha_inv_card .gacha_img {
        width: 100% !important;
        margin: 25px auto;
    }

    .gacha_inv_card .card-body h5 {
        font-size: 14px;
        line-height: 22px;
    }

    .gacha_card_head .to_gacha,
    .gacha_card_head button {
        /* position: absolute;
        top: 1rem;
        right: 1rem; */
        font-size: 12px;
        line-height: 18px;
        padding: 5px 10px;
    }

    .gacha_header button {
        background: #ffaa3a;
        border-radius: 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #ffffff;

        margin-top: -13px;
        margin-right: -10px;
    }
}

.box-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 16px;
    transition: all 200ms ease-in-out;
    border: 2px solid white;
}

.border__active {
    border: 2px solid #ffaa3a;
}

.box-card:hover {
    margin-top: -5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.text-box-card {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: black;
}

.gacha-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;

    color: #9ea4a8;
}

.gacha-link {
    color: #ffaa3a;
    text-decoration: underline;
}

.gacha-link:hover {
    color: #cd872c;
    text-decoration: underline !important;
}

.modal .circle-text {
    border: 8px solid #ffaa3a;
    box-sizing: border-box;
    padding: 1rem;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: black;
    border-radius: 50%;
}

.modal .big-text {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: black;
}

.modal .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: black;
}
.modal .subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: black;
}

@media screen and (max-width: 600px) {
    .text-box-card {
        font-size: 14px;
        line-height: 18px;
    }

    .gacha-text {
        font-size: 12px;
    }

    .modal .circle-text {
        padding: 0.5rem;
    }

    .modal .big-text {
        font-size: 36px;
        line-height: 52px;
    }

    .modal .title {
        font-size: 15px;
    }

    .modal .subtitle {
        font-size: 12px;
    }

    .redeem.coin-header-text {
        margin-top: 0;
    }

    #canvas__reg,
    #canvas__pre {
        width: 300px;
    }
}
