.hadiah__header {
    background: #ffffff;
    width: 40%;
    margin: 25px auto;
    text-align: center;
    border-radius: 5px;
}

.hadiah__header h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.hadiah__card {
    border: 10px solid #ffaa3a;
    border-radius: 75px;
    position: relative;

    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 25px;

    margin-bottom: 25px;
}

.hadiah__card h1 {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    text-align: left;
    margin-left: 15px;
}

.hadiah__number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e69833;
    color: #935b11;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 3px solid #ffffff;

    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
}

.hadiah__number img {
    width: 50px !important;
}

.hadiah__card img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: contain;
}

@media screen and (max-width: 425px) {
    .hadiah__header {
        width: 100%;
        margin: 25px auto;
        text-align: center;
        border-radius: 5px;
    }
}
