.dash_home_zoom a {
    background: #009ef7;
    border-radius: 5px;
    color: #ffffff;
}

.dash_home_zoom a:hover {
    color: #ffffff;
    background: #018edf;
}

.dash_home_header {
    margin-bottom: 150px;
}

.dash_home_navigation .card {
    transition: all 0.2s ease-in-out;
    /* min-height: 300px; */
    height: auto;
}

.dash_home_navigation .dash_home_menu .card:hover {
    /* border: 2px solid;
    border-color: red; */
    margin-top: -5px;
    cursor: pointer;
}

.dash_home_navigation .card .card-body {
    padding: 1rem;
}

.dash_home_navigation .card .card-body img {
    width: 80%;
    margin: 15px auto;
}

.dash_home_card_header.card .card-header.dash_header_red {
    background: #f1416c;
}
.dash_home_card_header.card .card-header.dash_header_blue {
    background: #009ef7;
}
.dash_home_card_header.card .dash_header_yellow {
    background: #ffaa3a;
}

.dash_home_card_header.card .card-header .card-title .card-label {
    color: #ffffff;
}

.dash_home_card_header.card .card-body {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #000000;

    padding: 1rem;
}

.dash_mission_item a.text-green {
    color: #50cd89 !important;
}

.dash_mission_item a.text-blue {
    color: #009ef7 !important;
}

.dash_mission_item a.text-red {
    color: #f1416c !important;
}

.dash_mission_item a.text-yellow {
    color: #ffc700 !important;
}

.modal_baper_poin table thead {
    background: #f5f8fa;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.3);
}

.modal_baper_poin table tbody tr td.poin {
    color: rgba(0, 0, 0, 0.3);
}

.modal_baper_poin table tbody tr td span.gain {
    color: #50cd89;
}

.modal_baper_poin table tbody tr td span.loss {
    color: #f1416c;
}

.modal_baper_poin_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5px;
}

.modal_baper_poin_header select {
    background: #f5f8fa;
    border-radius: 5px;
    border: transparent;
    padding: 5px;
}

.modal_redeem_poin h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.modal_redeem_poin input {
    background: #fafafa;
    border: 1px solid #d7dadb;
    border-radius: 4px;
    width: 100%;
    padding: 1rem;
}

.modal_redeem_poin input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ffaa3a;
}

.modal_redeem_poin button {
    margin-top: 25px;
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    padding: 11px 45px;
}

.modal_redeem_poin button:hover {
    color: #ffffff;
    background: #ed9e37;
}

.dash_home_empty {
    margin: 50px auto;
    text-align: center;
}

.dash_home_empty p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.3;
}

.dash_home_empty button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;

    margin-top: 15px;
}

.dash_home_empty button:hover {
    color: #ffffff;
    background: #e99a33;
}

.dash_home_accordion .card-title {
    font-weight: 600;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #000000 !important;
}

.mission_done span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #00a725;
}

.live-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f1416c;
    margin-right: 7px;
}

.modal_alamat label {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.modal_alamat .note_addr {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #ff0000;
    text-align: center;
}

.modal_alamat .verif_wa {
    background: #00cc5d;
    border-radius: 5px;

    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}

.modal_alamat .verif_wa:disabled {
    background: #00cc5c74;
    cursor: not-allowed;
}

.modal_alamat .note_wa {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}

.modal_alamat button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;

    padding: 6px 25px;
    width: 125px;
}

.modal_alamat button:hover {
    color: #ffffff;
    background: #ffaa3a;
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.modal_intro {
    text-align: center;
}

.modal_intro h6 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin: 15px auto;
}

.modal_intro p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.7;
}
.modal_intro p.green {
    color: #00cc5d;
    opacity: 1;
}

.modal_intro button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    width: 100px;
    margin: 15px auto;
}

.modal_intro button:hover {
    color: #ffffff;
    background: #ee9e35;
}

.dash_menu_badge {
    position: absolute;
    top: 8px;
    right: 8px;

    border-radius: 5px;
    background: #e52c2c;
    color: #ffffff;

    font-size: 12px;

    padding: 3px 5px;
}

/* common */
.dash_ribbon {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
}

.dash_ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 5px 0;
    background-color: #e52c2c;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;

    font-weight: 700;
    letter-spacing: 1.8px;
}

/* top right*/
.dash_ribbon-top-right {
    top: 0;
    right: 0;
}
.dash_ribbon-top-right span {
    left: -45px;
    top: 15px;
    transform: rotate(45deg);
}

.modal_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.modal_banner .banner_desktop {
    width: 100%;
}

.modal_banner .banner_mobile {
    display: none;
}

.modal_banner button {
    position: absolute;
    top: 1rem;
    right: 1rem;

    font-size: 18px;
    font-weight: 900;
    color: #000000;
}

.modal_banner button i {
    color: #000000;
}

.banner_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}


.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    width: 0;
}

.carousel-control-prev {
    left: -25px;
}

.carousel-control-next {
    right: -25px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: ">";
    font-size: 70px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: "<";
    font-size: 70px;
    color: black;
}

.sppa__banner .banner__mobile {
  display: none;
}

@media screen and (max-width: 768px) {
    .dash_home_menu .card .card-body .text-dark {
        /* display: none; */
    }
}

@media screen and (max-width: 425px) {
    /* .dash_home_navigation .card {
        height: 1500px;
    } */

    .sppa__banner .banner__mobile {
      display: block;
    }

    .sppa__banner .banner__desktop {
      display: none;
    }

    .dash_home_navigation .card .card-body {
        padding: 5px;
    }

    .dash_home_navigation .card .card-body img {
        width: 100%;
    }

    .dash_home_navigation .col-4 {
        /* max-width: 20%; */
        padding-left: 8px;
        padding-right: 8px;
    }

    .dash_home_navigation .text-dark {
        /* display: none; */
        font-size: 12px !important;
    }

    .modal_intro h6 {
        font-size: 14px;
        line-height: 20px;
    }

    .modal_intro p {
        font-size: 12px;
        line-height: 16px;
    }

    .modal_intro button {
        font-size: 13px;
        line-height: 18px;
        width: 100px;
    }

    .dash_home_menu .card .card-body img {
        width: 75px !important;
    }

    .dash_menu_badge {
        top: 5px;
        right: 5px;
        font-size: 10px;
    }

    /* common */
    .dash_ribbon {
        width: 75px;
        height: 75px;
    }

    .dash_ribbon span {
        width: 175px;
        padding: 0;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    /* top right*/
    .dash_ribbon-top-right {
        top: 0;
        right: 0;
    }
    .dash_ribbon-top-right span {
        left: -35px;
        top: 13px;
    }

    .modal_banner {
        max-width: 100%;
        margin: 0 auto;
    }

    .modal_banner .banner_desktop {
        display: none;
    }

    .modal_banner .banner_mobile {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .modal_banner button {
        position: absolute;
        top: -25px;
        right: 25px;

        font-size: 14px;
        font-weight: 700;
        color: #000000;
    }

    .carousel-control-prev {
        left: 25px;
    }

    .carousel-control-next {
        right: 25px;
    }
}

@media screen and (min-width: 769px) {
    #kt_header_menu {
        display: none;
    }
}

.livechat {
    display: none;
    width: 345px;
    position: fixed;
    bottom: 130px;
    z-index: 1000;
    right: 10px;
}

.img-chat-sales-bounce,
.img-chat-logo-bounce {
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.img-chat-sales-bounce {
    animation-delay: 1s;
}
.img-chat-logo-bounce {
    animation-delay: 1s;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3) translate3d(0, 0, 0);
    }
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    80% {
        opacity: 1;
        transform: scale(0.89);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
}

.logo-chat {
    position: absolute;
    left: 0px;
    z-index: 800;
    width: 100px;
}

.img-logo-chat {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 7px;
    border-color: #d9d9d9;
    border-style: solid;
    background: #ffaa3a;
}

.logo-chat-wab {
    position: absolute;
    z-index: 900;
    right: 0px;
    bottom: 0px;
    width: 35px;
}

.box-chat {
    display: none;
    position: absolute;
    width: 5px;
    height: 80px;
    padding-left: 80px;
    padding-right: 7px;
    background-color: #0f0f0f;
    opacity: 0.7;
    z-index: 500;
    margin-top: 10px;
    padding-top: 10px;
    left: 25px;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
    border-radius: 5px;
    color: #ffffff;
    line-height: 18px;
    font-size: 14px;
}

.close-chat {
    display: none;
    position: relative;
}

.popup_close {
    cursor: pointer;
}
