.input_quiz_card .card-header {
    border: transparent;
}
.input_quiz_card .card-header .card-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_quiz_card .card-header button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.input_quiz_card .card-header .quiz_btn_group {
    display: flex;
    flex-direction: column;
}

.rule_btn {
    margin-bottom: 10px;
}

.input_quiz_card .card-body h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

.input_quiz_card .card-body h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}

.input_quiz_form {
    width: 70%;
    margin: 50px auto;
}

.input_quiz_form button {
    background: #ffaa3a;
    border-radius: 5px;

    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    padding: 8px 25px;

    margin-top: 25px;
}

.input_quiz_form button:hover {
    color: #ffffff;
}

.modal_pertanyaan_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal_pertanyaan_header input {
    width: 125px;
}

.list_pertanyaan tbody td .approve {
    color: #00b71d;
}
.list_pertanyaan tbody td .reject {
    color: #e52020;
}
.list_pertanyaan tbody td .waiting {
    color: #ffaa3a;
}

@media screen and (max-width: 1024px) {
    .input_quiz_form {
        width: 80%;
        margin: 50px auto;
    }
}

@media screen and (max-width: 768px) {
    .input_quiz_card .card-body h1 {
        font-size: 26px;
        line-height: 38px;
    }

    .input_quiz_card .card-body h5 {
        font-size: 14px;
        line-height: 24px;
    }

    .input_quiz_form {
        width: 100%;
    }

    .input_quiz_form button {
        background: #ffaa3a;
        border-radius: 5px;

        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #ffffff;
        padding: 8px 25px;

        margin-top: 25px;
    }
}

@media screen and (max-width: 425px) {
    .input_quiz_card .card-header button {
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
    }

    .input_quiz_card .card-body h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .input_quiz_card .card-body h5 {
        font-size: 12px;
        line-height: 20px;
    }

    .input_quiz_form {
        margin: 25px auto;
    }

    .input_quiz_form label {
        font-size: 12px !important;
    }

    .input_quiz_card .card-header .quiz_btn_group button {
        font-size: 12px;
        line-height: 16px;
        padding: 5px 15px;
    }

    .rule_btn {
        margin-bottom: 7px;
    }
}

/* INPUT QUIZ SUCCESS */

.input_quiz_success {
    text-align: center;
}

.input_quiz_success img {
    margin-bottom: 25px;
}

.input_quiz_success h5 {
    width: 70%;
    margin: 15px auto;
}

.input_quiz_success button {
    margin: 25px auto;
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;

    padding: 8px 35px;
}

.input_quiz_success button:hover {
    color: #ffffff;
}

@media screen and (max-width: 425px) {
    .input_quiz_success img {
        margin-bottom: 25px;
        width: 80%;
    }

    .input_quiz_success h5 {
        width: 100%;
    }

    .input_quiz_success button {
        font-size: 14px;
        line-height: 26px;
        padding: 8px 35px;
    }
}

.baba_sukses {
    text-align: center;
}

.baba_sukses h5 {
    width: 50%;
    margin: 15px auto;
}

.baba_sukses h5.red {
    color: #f9423e;
    margin-top: 25px;
    opacity: 1;
}

.baba_sukses button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;

    padding: 8px 25px;
    margin: 25px auto;
}

.baba_sukses button:hover {
    color: #ffffff;
}

.baba_tiket {
    border: 5px solid #ffaa3a;
    border-radius: 10px;
    width: 50%;
    margin: 15px auto;
    padding: 1rem;
    margin-bottom: 25px;
}

.baba_row {
    margin: 25px auto;
}

.baba_row h6 {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.baba_row h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.modal_baba .modal-body {
    /* border: 1px solid red; */
}

.modal_baba .modal-body h4 {
    font-size: 22px;
    line-height: 28px;
}
.modal_baba .modal-body h6 {
    margin-top: 35px;
    font-size: 16px;
    line-height: 28px;
}

.modal_baba_btn .batal {
    box-sizing: border-box !important;
    border: 2px solid #ffaa3a;
    border-radius: 5px;
    color: #ffaa3a;
    font-size: 16px;
    line-height: 24px;
    margin: 15px 5px;
    padding: 8px 25px;
}

.modal_baba_btn .daftar {
    background: #ffaa3a;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin: 15px 5px;
    padding: 8px 25px;
}

.baba_txt h5.red {
    color: #ff0000;
}
.baba_txt button {
    background: #ffaa3a;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin: 15px auto;
}

.baba_txt button:hover {
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .baba_tiket {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .baba_row h6 {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .baba_row h2 {
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        color: #000000;
    }
}

@media screen and (max-width: 425px) {
    .baba_tiket {
        width: 100%;
    }

    .baba_row h6 {
        font-size: 14px;
        line-height: 20px;
    }

    .baba_row h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .baba_sukses h5 {
        width: 100%;
    }

    .baba_sukses button {
        font-size: 18px;
        line-height: 26px;
        padding: 8px 25px;
        margin: 25px auto;
    }
}

#input_jawaban {
    text-transform: uppercase;
}
