.landing-jadwal-card .card {
    border: 2px solid rgba(255, 170, 58, 0.7);
    border-radius: 8px;
    min-height: 275px;
}

.landing-jadwal-card .card .card-header {
    background: rgba(255, 170, 58, 0.172);
    padding: 1rem;
}

.landing-jadwal-card .card .card-title {
    flex-direction: column;
}

.landing-jadwal-card .card .card-body {
    text-align: left;
}

.landing-jadwal-card .card h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #1b1b1b;
    opacity: 0.88;
    margin: 0;
}

.landing-jadwal-card .card h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #ffaa3a;
    opacity: 0.88;
    margin-top: 5px;
    width: 100%;
}

.landing-jadwal-card button {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    margin-top: 25px;
}

.landing-jadwal-card button.expired {
    background: rgba(27, 29, 31, 0.3);
}

.landing-jadwal-card button:hover {
    color: #ffffff;
}

.landing-jadwal-card button:disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 425px) {
    .landing-jadwal-card .card {
        min-height: 225px;
    }

    .landing-jadwal-card .card h3 {
        font-size: 12px;
        line-height: 18px;
    }

    .landing-jadwal-card .card h5 {
        font-size: 10px;
        line-height: 12px;
        color: #ffaa3a;
        opacity: 0.88;
        margin-top: 5px;
    }

    .landing-jadwal-card button {
        background: #ffaa3a;
        border-radius: 10px 10px 10px 0px;

        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        color: #ffffff;
        margin-top: 15px;
        width: 100%;
    }
}

.jadwal_csb {
    /* border: 1px solid red; */
}

.jadwal_csb h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.jadwal_csb .nav {
    justify-content: center;
    margin: 25px auto;

    width: 70%;
}

.jadwal_csb .nav-item {
    margin: 0 15px;
}

.jadwal_csb .nav .nav-item .nav-link {
    border: 2px solid #ffaa3a;
    box-sizing: border-box;
    border-radius: 5px;
}

.jadwal_csb .nav .nav-item .nav-link span {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffaa3a;
}

.jadwal_csb .nav .nav-item .nav-link.active {
    background: #ffaa3a;
}

.jadwal_csb .nav .nav-item .nav-link:hover {
    background: #ffaa3a;
}
.jadwal_csb .nav .nav-item .nav-link:hover span {
    color: #ffffff;
}

.jadwal_table {
    width: 50%;
    margin: 25px auto;
}

.jadwal_tabs > ul {
    width: 70%;
    margin: 5px auto;
    margin-bottom: 50px;
}

.jadwal_tabs > ul .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.jadwal_tabs > ul .nav-link {
    border: 2px solid #ffaa3a;
}

.jadwal_tabs > ul .nav-link .nav-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffaa3a;
}

.jadwal_tabs > ul .nav-link.active {
    background: #ffaa3a !important;
}

.jadwal_tabs > ul .nav-link:hover {
    background: #ffaa3a;
}

.jadwal_tabs > ul .nav-link:hover .nav-text {
    color: #ffffff !important;
}

@media screen and (max-width: 768px) {
    .jadwal_tabs > ul {
        width: 100%;
        margin: 5px auto;
    }
}

@media screen and (max-width: 425px) {
    .jadwal_csb .nav-item {
        margin: 0;
    }

    .jadwal_csb .nav {
        justify-content: center;
        margin: 25px auto;
        width: 100%;
    }

    .jadwal_csb .nav .nav-item .nav-link span {
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #ffaa3a;
    }

    .jadwal_table {
        width: 100%;
        margin: 25px auto;
    }

    .jadwal_tabs > ul .nav-link .nav-text {
        font-size: 12px;
        line-height: 16px;
    }

    .jadwal_tabs > ul .nav-item {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}
