.mainmenu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainmenu__header button {
    background: #f3a237;
    border-radius: 5px;
    color: #ffffff;
}

.mainmenu__text h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.mainmenu__text p {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;

    width: 60%;
    margin: 25px auto;
}

.mainmenu__text button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    width: 200px;
}

.mainmenu__text button:hover {
    color: #ffffff;
    background: #f3a237;
}

@media screen and (max-width: 425px) {
    .mainmenu__header img {
        width: 25px;
    }

    .mainmenu__text h1 {
        font-size: 24px;
        line-height: 28px;
        margin: 0;
    }

    .mainmenu__text p {
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.05em;
        width: 100%;
        margin: 15px auto;
    }

    .mainmenu__text button {
        font-size: 14px;
        line-height: 24px;
        width: 150px;
        margin-top: 15px;
    }
}

.lomba__thumb img {
    width: 100%;
}

.mainmenu__modal .modal-content {
    background: linear-gradient(110.36deg, #b66000 7.48%, #e97c01 98.48%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0.5rem;
    position: relative;
}

.mainmenu__modal .mainmenu__modal_content {
    background: #fafafa;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.mainmenu__modal_title {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
}

.mainmenu__modal_inner {
    margin-top: 100px;
}

.mainmenu__modal_inner p {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #000000;
}

.mainmenu__modal_inner img {
    margin: 15px auto;
}

.mainmenu__modal_inner .mainmenu__cara {
    width: 70%;
    margin: 10px auto;
}

.mainmenu__modal_inner .mainmenu__cara ol li {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #000000;
}

.mainmenu__modal_inner button {
    background: #ffaa3a;
    border-radius: 5px;

    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px auto;
    padding: 8px 25px;
}

.mainmenu__modal_inner button:hover {
    color: #ffffff;
}

.mainmenu__modal_daftar h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.mainmenu__modal_daftar button {
    background: #ffaa3a;
    border-radius: 5px;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 25px;
}

.mainmenu__modal_daftar button:hover {
    color: #ffffff;
}

.mainmenu__top_card {
    background: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.6)
        ),
        url("../images/lomba/mainmenu/card-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 425px) {
    .lomba__thumb .row .col-lg-4 {
        margin-bottom: 15px;
    }

    .mainmenu__modal_inner p {
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.03em;
    }

    .mainmenu__modal_inner .mainmenu__cara {
        width: 100%;
        margin: 10px auto;
    }

    .mainmenu__modal_inner .mainmenu__cara ol li {
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.03em;
    }

    .mainmenu__modal_inner button {
        font-size: 16px;
        line-height: 24px;
    }
}
