.dash_navbar_btn a {
    background: #00cc5d;
    border-radius: 5px;
    color: #ffffff;
}

.dash_navbar_btn a:hover {
    background: #01b552;
    color: #ffffff;
}

.dash_nav_join {
    background: #009ef7;
    border-radius: 5px;
    color: #ffffff;
}

.dash_nav_join:hover {
    background: #0190e2;
    color: #ffffff;
}

.dash_nav_logout {
    background: #e52c2c;
    border-radius: 5px;
    color: #ffffff;
}

.dash_nav_logout i {
    color: #ffffff;
}

.dash_nav_logout:hover {
    background: #d32929;
    color: #ffffff;
}

.dash_nav_homepage {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}

.dash_nav_homepage:hover {
    color: #ffffff;
    background: #eb9c34;
}

@media screen and (max-width: 991px) {
    .dash_nav_desktop {
        display: none;
    }
}

.radio-img > input {
    display: none;
}

.radio-img .ava_img {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-img > .ava_img {
    cursor: pointer;
    min-height: 160px;
}

.radio-img > input:checked + .ava_img {
    border: 2px solid #eb9c34;
    background: #eb9c3482;
}

.ava_btn_sumbit button {
    background: #ffaa3a;
    border-radius: 5px;
    border: transparent;
    padding: 12px;

    width: 150px;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.ava_badge,
.ava_badge_verified {
    position: absolute;
    top: 1rem;
    right: -0.5rem;
    color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ava_badge {
    background: #ffaa3a;
}

.ava_badge_verified {
    background: #00cc5d;
}

.ava_badge i,
.ava_badge_verified i {
    color: #ffffff;
    font-size: 8px;
}

@media screen and (max-width: 991px) {
    #kt_header_menu {
        display: block !important;
    }

    .ava_badge,
    .ava_badge_verified {
        position: absolute;
        top: 0.3rem;
        right: 0.8rem;
        color: #ffffff;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}
