.panjat_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panjat_header button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.panjat_header button:hover {
    color: #ffffff;
}

.panjat_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panjat_content .timer-img {
    width: 250px;
    /* border: 1px solid red; */
}

.panjat_content .card {
    width: 400px;
    margin: 50px 0;
    background: #ffffff;
    box-shadow: -4px -4px 8px rgba(240, 240, 240, 0.2),
        4px 4px 8px rgba(240, 240, 240, 0.2),
        -4px 4px 8px rgba(255, 255, 255, 0.9),
        4px -4px 10px rgba(240, 240, 240, 0.9),
        inset 1px -1px 2px rgba(255, 255, 255, 0.3),
        inset -1px 1px 2px rgba(240, 240, 240, 0.5);
    border-radius: 26px;
}

.panjat_content .card .card-body {
    position: relative;
    padding: 1rem;
}

.panjat_content .card .card-body img.panjat_logo {
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translate(-50%);
}

.modal_panjat_play .modal-content {
    background: none;
    text-align: center;
    box-shadow: none;
}

.modal_panjat_play .modal-content img {
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
}

.modal_potong .modal-content {
    position: relative;
    background: linear-gradient(110.36deg, #b66000 7.48%, #e97c01 98.48%);
    padding: 1rem;
}

.modal_potong .modal_ctn {
    background: #fafafa;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    padding: 2rem;
    text-align: center;
}

.modal_potong .modal_ctn h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.modal_potong .modal_ctn p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;

    opacity: 0.4;
}

.modal_potong .modal-content a.mulai_btn {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);
}

.modal_potong .modal-content a.mulai_btn img {
    width: 150px;
}

.modal_potong .modal-content .cara_bermain {
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translate(-50%);

    width: 300px;
}

.modal_potong .modal-content .close__btn {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 50px;

    cursor: pointer;
}

.panjat__leaderboard {
    margin: 100px auto;
    position: relative;
}

.panjat__leaderboard .leaderboard__label {
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translate(-50%);

    width: 300px;
    z-index: 1;
}

.panjat__leaderboard .leaderboard__logo {
    position: absolute;
    top: -160px;
    left: 50%;
    transform: translate(-50%);

    width: 200px;
    z-index: 2;
}

.panjat_klasemen {
    background: linear-gradient(110.36deg, #b66000 7.48%, #e97c01 98.48%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0 auto;
}

.panjat_klasemen .table {
    background: #ffffff;
    border-radius: 10px;
    margin: 0;
}

.panjat_klasemen .table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
    background: #ffaa3a25;
}

.panjat_klasemen .table thead tr th {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    text-transform: uppercase;
}

.panjat__mobile {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.panjat__timer {
    position: absolute;
    top: 10px;
    left: 10px;
}

.panjat__timer img {
    width: 150px;
}

.panjat__help {
    position: absolute;
    top: 15px;
    right: 15px;
}

.panjat__help img {
    width: 45px;
}

.panjat__mulai {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.panjat__mulai img {
    width: 100px;
}

.modal__mulai .modal-content {
    background: linear-gradient(110.36deg, #b66000 7.48%, #e97c01 98.48%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 1rem;
    position: relative;
}

.modal__mulai .modal-content .modal_ctn {
    background: #fafafa;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.modal__mulai .modal-content .modal_ctn h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.modal__mulai .modal-content .modal_ctn p {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #000000;
    opacity: 0.4;
}

.modal__logo {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    z-index: 2;
}

.modal__title {
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    z-index: 1;
}

.mulai__btn {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.mulai__btn img {
    margin: 0 5px;
    width: 100px;
}

.modal__cara .modal_ctn {
    height: 200px;
    overflow-y: auto;
}

.modal__cara table thead tr th {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.modal__close {
    position: absolute;
    top: -10px;
    right: 0;
}

.modal__win {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.modal__win img {
    margin-bottom: 10px;
}

#panjat_overlay {
    display: block;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    /* border: 1px solid red; */
    background: url("../../images/lomba/mobile/bg.png") !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: 100% 100% !important;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#panjat_overlay_desk {
    position: relative;
    margin: 15px auto;
    /* margin-bottom: -4px; */
    z-index: 1;
    width: 420px;
    height: 720px;
    background: url("../../images/lomba/mobile/bg.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% 100% !important;
    object-fit: contain;
    border-radius: 10px;
}

.canvas-container {
    position: relative;
    -webkit-user-select: none;
}

.panjat__desktop {
    min-width: 30vw;
    max-width: 30vw;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin: 0 auto;
}

.panjat__mulai_desk {
    position: absolute;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 3;
}

.panjat__mulai_desk img {
    width: 100px;
}
.panjat__help_desk {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 3;
}

.panjat__help_timer {
    position: absolute;
    top: 25px;
    left: 25px;
    background: red;
    z-index: 3;
}

.panjat__score_section {
    position: relative;
}

.panjat__score_section p {
    position: absolute;
    top: 10px;
    left: 60px;
}

@media screen and (max-width: 1024px) {
    .timer-img {
        width: 150px !important;
    }
    .play-img {
        width: 75px !important;
    }
    .panjat_content .card {
        width: 350px;
        margin: 50px 0;
    }

    .panjat_content .card .card-body {
        position: relative;
        padding: 1rem;
    }
    .panjat_content .card .card-body .panjat_bg {
        width: 100%;
    }

    .panjat_content .card .card-body img.panjat_logo {
        position: absolute;
        top: -55px;
        left: 50%;
        transform: translate(-50%);
        width: 150px;
    }
}

.panjat__landscape {
    display: none;
}

@media only screen and (orientation: landscape) {
    .panjat__mobile {
        display: none;
    }
    .panjat__landscape {
        display: block;
    }
}
