.quiz__show h1 {
  margin: 0;
}

.quiz__show h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.5);
}

.quiz__show p {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 25px auto;
}

.quiz__show_game {
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}

.quiz__show_game img {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.quiz__show_game button {
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 12px;
}

.quiz__show_game button.prm {
  background: #FFAA3A;
  color: #ffffff;
  margin-right: 10px;
}

.quiz__show_game button.sec {
  border: 2px solid #FFAA3A;
  background: #ffffff;
  color: #FFAA3A;
}

.quiz__show_game button.dsb {
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  cursor: not-allowed;
  opacity: 0.5;
  margin-right: 10px;
}

.quiz__show_countdown {
  position: absolute;
  top: 5px;
  right: 55px;
  background: #ffffff;
  border-radius: 10px;
  padding: 0.5rem;

  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: #03AB00;
}

.quiz__show_status {
  position: absolute;
  bottom: 65px;
  left: 55px;
  background: #ffffff;
  border-radius: 10px;
  padding: 5px;
}

.quiz__show_regis_btn {
  display: flex;
  justify-content: center;
}

.quiz__show_rule img {
  width: 100%;
  border-radius: 10px;
}

.quiz__show_rule h1,
.quiz__show_rule h5  {
  text-align: left !important;
}

.quiz__show_rule h5  {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000 !important;
}

.quiz__show_rule ol {
  padding-left: 1rem;
}

.quiz__show_rule ol li{
  padding-left: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #000000;
}

.modal__quizshow .modal-body {
  text-align: center;
}

.modal__quizshow .modal-body h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px
}

.modal__quizshow .modal-body button {
  background: #FFAA3A;
  border-radius: 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 5px 15px;
}

.modal__quizshow .modal-body img {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.quiz__show_rule_countdown {
  background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 17px;

font-weight: bold;
font-size: 24px;
line-height: 130%;
color: #03AB00;

padding: 5px 15px;
margin-bottom: 15px;
}

.list__peserta {
  background: rgba(255, 170, 58, 0.1);
  border-radius: 8px;
  padding: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center !important;
  color: #000000;
}

.list__peserta.skipped {
  background: rgba(0, 0, 0, 0.1);
}
.list__peserta.win {
  background: #8200E8;
}
.list__peserta.playing {
  background: #00CC5D;
}
.list__peserta.waiting {
  background: #0078A7;
}



@media screen and (max-width: 425px) {
  .quiz__show .col-6 {
    padding: 0
  }

  .quiz__show p {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0;
  }

  .quiz__show_game {
    margin-bottom: 50px;
  }

  .quiz__show_game button {
    font-size: 12px;
    line-height: 18px;
    padding: 5px 15px;
  }

  .quiz__show_regis_btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .quiz__show_regis_btn button {
    width: 80%;
    margin: 5px auto;
  }

  .quiz__show_game button.prm {
    background: #FFAA3A;
    color: #ffffff;
    margin: 5px auto;
  }

  .quiz__show_game button.dsb {
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: not-allowed;
    opacity: 0.5;
    margin: 5px auto;
  }

  .quiz__show_countdown {
    position: absolute;
    top: 5px;
    right: 50px;
    background: #ffffff;
    border-radius: 10px;
    padding: 0.5rem;

    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #03AB00;
  }

  .quiz__show_rule img {
    margin-bottom: 15px;
  }

  .quiz__show_rule h1 {
    font-size: 20px !important;
    line-height: 32px;
  }

  .quiz__show_rule ol li{
    padding-left: 10px;

    font-size: 12px;
    line-height: 140%;
    color: #000000;
    margin-bottom: 10px
  }
}
