.quiz_win_card {
    /* height: 600px; */
}

.quiz_win_card .card-header {
    border: transparent;
    padding: 0.5rem;
}

.quiz_win_card .card-body {
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.quiz_win_card .card-body h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #000000;
    margin: 25px auto 50px auto;
}

.quiz_win_card .card-body h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    margin-top: 0;
}

.quiz_win_card .card-body h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    /* margin: 25px auto 25px auto; */
}

.quiz_win_card button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.quiz_win_card button:hover {
    color: #ffffff;
    background: #ed9c31;
}

.quiz_win_card button.answer {
    background: #ffffff;
    box-sizing: border-box !important;
    border: 1px solid #ffaa3a;
    font-weight: 500;
    text-transform: none;
    color: #ffaa3a;
}

.quiz_win_card button.answer:hover {
    background: #ffaa3a;
    color: #ffffff;
}

@media screen and (max-width: 425px) {
    .quiz_win_card .card-body h1 {
        font-size: 32px;
        line-height: 48px;
        margin: 15px auto 25px auto;
    }

    .quiz_win_card .card-body h2 {
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }

    .quiz_win_card .card-body h5 {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.5);
        /* margin: 25px auto 25px auto; */
    }

    .quiz_win_card button {
        background: #ffaa3a;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        width: 150px;

        margin-bottom: 25px;
    }
}
