.quiz_card .card-header {
    border: transparent;
    padding: 0.5rem;
}

.quiz_card .card-body h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #000000;
}

.quiz_card .card-body h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    text-align: center;
}

.quiz_progress {
    text-align: center;
    margin-bottom: 50px;
}

.quiz_progress span {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.quiz_progress .progress {
    width: 550px;
    height: 10px;
    margin: 5px auto;
    background-color: rgba(255, 170, 58, 0.2);
}

.quiz_progress .progress-bar {
    background: #ffaa3a;
}

.quiz_answerbox {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px auto;
}

.quiz_answerbox .quiz_letter {
    background: #f5f8fa;
    border-radius: 10px;
    height: 100px;
    margin: 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 42px;
    color: #000000;

    width: 100px;

    /* padding: 0 25px; */
}

.quiz_inputbox {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 75px;
    margin-top: 25px;
}

.quiz_inputbox input {
    background: #f5f8fa;
    border-radius: 10px;
    border: 2px solid #ffaa3a;
    height: 100px;
    width: 100px;

    box-shadow: -1px 2px 10px -1px rgba(255, 170, 58, 0.74);
    -webkit-box-shadow: -1px 2px 10px -1px rgba(255, 170, 58, 0.74);
    -moz-box-shadow: -1px 2px 10px -1px rgba(255, 170, 58, 0.74);

    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.quiz_inputbox input:focus {
    outline: none;
}

.quiz_inputbox button {
    background: #ffaa3a;
    border-radius: 5px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    width: 120px;
}

.quiz_inputbox button:hover {
    background: #e99a34;
    color: #ffffff;
}

.quiz_attempt {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
}

.quiz_wrong h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.quiz_wrong .quiz_wrong_letter {
    background: #f1416c;
    border-radius: 10px;
    width: 50px;
    height: 50px;

    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz_attempt_wrong {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffaa3a4f;
    margin: 0 15px;
}

.quiz_done {
    text-align: center;
}

.quiz_done button {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;

    background: #ffaa3a;
    border-radius: 5px;
    width: 342px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.quiz_done button:hover {
    color: #ffffff;
}

.quiz_done button:disabled {
    cursor: not-allowed;
}

.quiz_rejeki_quest {
    text-align: center;
    margin-bottom: 100px;
}

.quiz_rejeki_quest h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
}

.quiz_rejeki_quest h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    margin-bottom: 5px;
}

.quiz_rejeki_quest p {
    margin-bottom: 50px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.quiz_rejeki_quest p a {
    color: #1289b7;
}

.quiz_rejeki_quest .form-group .radio-inline {
    justify-content: center;
}

.quiz_rejeki_quest .radio-inline .radio {
    margin-right: 3rem;
    margin-bottom: 0.35rem;
}

.quiz_rejeki_quest .radio > input:checked ~ span {
    background-color: #ffaa3a;
}

.quiz_rejeki_quest .form-group label.salah {
    color: #ff0000;
}
.quiz_rejeki_quest .form-group label.benar {
    color: #00cc5d;
}

.salah {
    color: #ff0000;
    font-weight: 900 !important;
}

.quiz_rejeki_btn {
    text-align: center;
}

.quiz_rejeki_btn button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    width: 230px;
    margin-bottom: 50px;
}

.quiz_rejeki_btn button:hover {
    color: #ffffff;
    background: #e29632;
}

.quiz_done_word h5 {
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    margin-top: 50px !important;
}

.quiz_done_word h5.win {
    color: #50cd89;
}

.quiz_done_word h5.lose {
    color: #e52c2c;
}

.quiz_jawaban h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .quiz_answerbox .quiz_letter {
        background: #f5f8fa;
        border-radius: 10px;
        margin: 0 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 700;
        font-size: 42px;
        color: #000000;

        height: 75px;
        width: 75px;
    }
}

@media screen and (max-width: 425px) {
    .quiz_card .card-body h1 {
        font-size: 18px;
        line-height: 28px;
    }

    .quiz_progress .progress {
        width: 100%;
    }

    .quiz_answerbox .quiz_letter {
        height: 50px;
        font-size: 18px;
        width: 45px;
    }

    .quiz_rejeki_quest h6 {
        font-size: 14px;
        line-height: 18px;
    }

    .quiz_rejeki_quest h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .quiz_rejeki_quest .radio-inline .radio {
        margin-right: 3rem;
        margin-bottom: 1.5rem;
    }

    .quiz_rejeki_btn button {
        background: #ffaa3a;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        width: 170px;
        margin-bottom: 50px;
    }

    .quiz_done button {
        font-size: 18px;
        line-height: 24px;
        width: 100%;
    }
}

.custom-btn-primary-rounded {
    width: 130px;
    background: #ffaa3a;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px 10px 10px 10px;
    transition: color 0.5s ease, background-color 0.5s ease,
        border-color 0.5s ease, box-shadow 0.5s ease,
        -webkit-box-shadow 0.5s ease;
}

.custom-btn-primary-rounded:hover {
    background: #eca13f !important;
    color: white;
}

.submit_tebak_kata {
    margin-top: 25px;
}

.submit_tebak_kata h4.ugc_tebak_kata {
    margin-bottom: 15px;
}

.submit_tebak_kata button {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 25px;
    width: 150px;
    text-transform: capitalize;
}
