.reseller__home .reseller__head_card {
    border-radius: 20px;
}

.reseller__home .reseller__head_card h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #333539;
}

.reseller__home .reseller__head_card p {
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #4d4d4d;
}

.reseller__home .reseller__head_card button {
    background: #ffaa3a;
    border-radius: 8px;

    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #ffffff;

    padding: 10px 30px;
}

.reseller__home .reseller__head_card button:hover {
    color: #ffffff;
    background: #f3a237;
}

.reseller__head_card {
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    z-index: 1;
}

.reseller__head_orn {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
}

.reseller__head_img {
    position: absolute;
    bottom: -20px;
    right: 25px;
    z-index: 9;
}

.reseller__home_progress {
    position: relative;
}

.reseller__home_progress .progress {
    background: #ffffff;
    border-radius: 25px;
}

.reseller__home_progress .progress-bar {
    background: linear-gradient(
        270deg,
        #ff8b00 0%,
        #ffa200 21.35%,
        #ffba00 49.61%,
        #ffc900 75.76%,
        #ffce00 97.55%
    );
}

.progress_5,
.progress_10,
.progress_20,
.progress_50,
.progress_100 {
    position: absolute;
    top: -50%;

    background: #ffaa3a;

    font-weight: bold;
    font-size: 18px;
    line-height: 170%;
    color: #000000;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.progress_5 {
    left: 5%;
    transform: translateX(-5%);
}

.progress_10 {
    left: 10%;
    transform: translateX(-10%);
}

.progress_20 {
    left: 20%;
    transform: translateX(-20%);
}

.progress_50 {
    left: 50%;
    transform: translateX(-50%);
}

.progress_100 {
    left: 100%;
    transform: translateX(-100%);
}

/* MODUL */
.reseller__modul_thumb {
    width: 100%;
    height: 160px;
    background: #f2ebe4;
    border-radius: 5px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.reseller__play_btn {
    background: rgba(255, 255, 255, 0.4);
    width: 68px;
    height: 68px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.reseller__modul_card h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.reseller__modul_card span {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #aaaaaa;
}

.reseller__modul_interaction {
    display: flex;
    margin: 10px 0;
}

.reseller__modul_interaction span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #aaaaaa;
}

.reseller__modul_detail .card {
    background: #fffbf7;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.reseller__modul_detail .card .card-body {
    padding: 0;
}

.reseller__modul_desc {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 2rem;
}

.reseller__modul_detail h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    opacity: 0.9;
    margin-bottom: 15px;
}
.reseller__modul_detail p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.4;
}

.reseller__modul_detail button {
    background: #ffaa3a;
    border-radius: 8px;

    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    padding: 13px;
    width: 90%;

    margin-top: auto;
}

.reseller__modul_detail button:hover {
    color: #ffffff;
}

.reseller__modul_video {
    background: #f2ebe4;
    border-radius: 8px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* QUIZ */

.academy__progress {
    width: 40%;
    margin: 15px auto;
}

.academy__progress .progress-bar {
    background: linear-gradient(
        270deg,
        #ff8b00 0%,
        #ffa200 21.35%,
        #ffba00 49.61%,
        #ffc900 75.76%,
        #ffce00 97.55%
    );
}

.academy__quiz {
    text-align: center;
}

.academy__quiz span {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.16px;
    color: rgba(0, 0, 0, 0.9);
    opacity: 0.4;
    margin: 15px auto;
}

.academy__quiz h3 {
    margin-top: 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.9);
}

.academy__ans {
    text-align: left;
    width: 40%;
    margin: 25px auto;
}

.academy__ans .col-md-6 {
    margin-bottom: 15px;
}

.academy__ans .card-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

.academy__ans .card-body img {
    margin-right: 10px;
}

.academy__ans label {
    position: relative;
}

.card-input-element {
    /* display: none; */
    position: absolute;
    left: 3rem;
    bottom: 43%;

    z-index: 9;
}

.card-input {
    margin: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
    background: #ffaa3a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    color: #ffffff !important;
}

.academy__quiz_button button {
    background: #ffaa3a;
    border-radius: 8px;

    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    padding: 11px 25px;
}

.academy__quiz_button button:hover {
    color: #ffffff;
}

.academy__quiz_button button:disabled {
    cursor: not-allowed;
}

.reseller__modul_quiz_done .card-body.winn {
    background: url("../images/reseller/quiz-win.png") !important;
    background-size: 100%;
    background-position: center;

    position: relative;
}

.reseller__modul_quiz_done h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9);
}

.reseller__modul_quiz_done h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: rgba(0, 0, 0, 0.9);
}
.reseller__modul_quiz_done p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.9);
}

.reseller__modul_quiz_done button {
    border: 2px solid #ffaa3a;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    margin: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.reseller__modul_score {
    background: #fff8e3;
    box-shadow: 1px 1px 2px rgba(242, 231, 215, 0.2),
        -1px -1px 2px rgba(247, 234, 229, 0.2),
        1px -1px 2px rgba(255, 255, 255, 0.9),
        -1px 1px 3px rgba(245, 238, 231, 0.9),
        inset -1px 1px 2px rgba(255, 255, 255, 0.3),
        inset 1px -1px 2px rgba(239, 224, 215, 0.5);
    border-radius: 12px;

    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    color: #e78300;
    padding: 1rem 2rem;
    margin-bottom: 25px;
}

.reseller__quiz_winner {
    position: absolute;
    top: 0;
    left: 0;
}

/* LEADERBOARD */
.reseller__leaderboard {
    margin-top: 50px;
}

.reseller__leaderboard_title {
    background: #ffaa3a;
    box-shadow: inset 0px 0px 8px #e78c15;
    border-radius: 16px;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;
    width: 450px;

    margin: 15px auto;

    margin-top: -50px;

    padding: 15px 25px;
}

.reseller__leaderboard_rank {
    text-align: center;
    margin: 25px auto;
}

.reseller__leaderboard p {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}

.reseller__leaderboard_card {
    width: 500px;
    margin: 25px auto;

    background: #ffaa3a;
    border-radius: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.reseller__leaderboard_mine {
    background: #ffffff;
    border-radius: 16px;
    width: 95%;
    margin: 15px auto;
    margin-top: 0;
    padding: 1rem;

    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reseller__leaderboard_mine h6,
.reseller__leaderboard_mine h1 {
    margin: 0;
}

.reseller__leaderboard_mine h6 {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
}

.reseller__leaderboard_mine h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #000000;
}

.reseller__leaderboard_table .table-striped tbody tr:nth-of-type(odd) {
    background: #ffffff31;
}

.reseller__leaderboard_table tr td,
.reseller__leaderboard_table tr th {
    border: transparent;
}

.reseller__leaderboard_table tbody tr {
    text-align: center;
}

.reseller__leaderboard_table tbody tr td span {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #935b11;
}

@media screen and (max-width: 425px) {
    .reseller__leaderboard_title {
        font-size: 20px;
        line-height: 130%;
        width: 100%;
    }

    .reseller__leaderboard p {
        font-size: 12px;
        line-height: 130%;
    }

    .reseller__leaderboard_card {
        width: 100%;
    }

    .reseller__leaderboard_mine {
        width: 95%;
        margin: 15px auto;
        margin-top: 0;
        padding: 1rem;

        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .reseller__leaderboard_mine h6 {
        font-size: 11px;
        line-height: 130%;
    }

    .reseller__leaderboard_mine h1 {
        font-size: 20px;
        line-height: 130%;
    }

    .reseller__leaderboard_table tbody tr td span {
        font-size: 14px;
    }

    .reseller__leaderboard_rank img {
        width: 75px;
    }
}

/* JADWAL */

.reseller__jadwal h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.reseller__jadwal_img {
    text-align: center;
}

.reseller__jadwal_img img {
    margin-bottom: 15px;
}

@media screen and (max-width: 425px) {
    .reseller__jadwal h1 {
        font-size: 24px;
        line-height: 34px;
    }
}

/* RIWAYAT */
.reseller__riwayat_tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
}

.reseller__riwayat_tabs .nav-link {
    background: rgba(255, 170, 58, 0.2);
    border-radius: 6px;
}

.reseller__riwayat_tabs .nav-item .nav-link.active {
    background: #ffaa3a;
}

.reseller__riwayat_tabs .nav-link .nav-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #ffaa3a;
}

.reseller__riwayat_tabs .nav-link:hover .nav-text {
    color: #ffaa3a !important;
}

.reseller__riwayat_tabs .nav-link.active .nav-text {
    color: #ffffff;
}

.reseller__riwayat_tabs .nav-link.active:hover .nav-text {
    color: #ffffff !important;
}

.reseller__riwayat .table thead tr th {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ff8500;
    text-align: center;
}

.reseller__riwayat .table tbody tr td {
    padding: 2rem 0.5rem;
    text-align: center;
}

.reseller__hadiah_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reseller__riwayat_hadiah .onProgress {
    background: #ff8500;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

.reseller__riwayat_hadiah .notClaimed {
    background: #009ef7;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

.reseller__riwayat_hadiah .delivered {
    background: #50cd89;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

@media screen and (max-width: 425px) {
    .reseller__riwayat .card .card-body {
        padding: 0.5rem;
    }

    .reseller__riwayat .table thead tr th {
        font-size: 12px;
        line-height: 20px;
    }

    .reseller__riwayat .table tbody tr td {
        padding: 2rem 0.5rem;
        text-align: center;
        font-size: 12px;
    }
}

/* STEMPEL */
.reseller__stempel h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #333539;
}

.reseller__stempel_card {
    background: #ffaa3a;
    border-radius: 15px;
    padding: 2rem;
    width: 500px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.reseller__stempel_card h3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 170%;
    color: #ffffff;
}

.reseller__stempel_card p {
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #ffffff;
}

.reseller__stamp {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    width: 65px;
    height: 65px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 12px;
    line-height: 170%;
    color: #d27800;
}

.reseller__stempel_bg {
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 400px;
    opacity: 0.03;
}

.reseller__stempel_progress {
    width: 500px;
    margin: 0 auto;
}

.reseller__stempel_progress p {
    font-weight: bold;
    font-size: 14px;
    line-height: 170%;
    color: #000000;
    margin: 0;
}

.reseller__stempel_progress span {
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    color: #000000;
}

.reseller__stempel_progress button {
    background: #ffaa3a;
    border-radius: 8px;

    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #ffffff;
    width: 100%;
    margin: 25px auto;
}

.reseller__stempel_progress_bar {
    background: linear-gradient(
        270deg,
        #ff8b00 0%,
        #ffa200 21.35%,
        #ffba00 49.61%,
        #ffc900 75.76%,
        #ffce00 97.55%
    ) !important;
    border-radius: 20px;
}

@media screen and (max-width: 425px) {
    .reseller__stempel h1 {
        font-size: 24px;
        line-height: 130%;
    }

    .reseller__stempel_card {
        padding: 1rem;
        width: 100%;
        margin: 25px auto;
    }

    .reseller__stempel_card h3 {
        font-size: 18px;
        line-height: 170%;
    }

    .reseller__stempel_card p {
        font-size: 12px;
        line-height: 170%;
    }

    .reseller__stamp {
        border-radius: 50px;
        width: 35px;
        height: 35px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 600;
        font-size: 12px;
        line-height: 170%;
        color: #d27800;
    }

    .reseller__stempel_progress {
        width: 100%;
    }

    .reseller__stempel_progress p {
        font-size: 12px;
    }

    .reseller__stempel_progress span {
        font-size: 12px;
        line-height: 170%;
    }

    .reseller__stempel_progress button {
        font-size: 16px;
    }

    .reseller__stempel_progress_bar {
        background: linear-gradient(
            270deg,
            #ff8b00 0%,
            #ffa200 21.35%,
            #ffba00 49.61%,
            #ffc900 75.76%,
            #ffce00 97.55%
        ) !important;
        border-radius: 20px;
    }
}
