.white-container{
    padding: 25px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);;

}
.circle-img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.circle-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.title-part{
    color: black;
    font-weight: 600;
    text-align: center;
}
.title-part.left{
    text-align: left;
}

.box-title{
    width: 80%;
}
.exp-part{
    text-align: center;
    color: black;
    font-weight: 400;
}
.exp-part h6{
  font-weight: 300;
}
.exp-part.left{
    text-align: left;
}
.btn.btn-yellow{
    font-size: 22px;
    font-weight: 600;
    background-color: #FFAA3A;
    color: white;
}

.btn.btn-yellow:hover{
    background-color: #FFAA3A90;
}

.btn.btn-yellow.small{
    font-size: 16px;
    font-weight: 600;

}
.back-icon{
    font-size: 32px;
    color: black;
    font-weight: 400;
}
.btn.btn-yellow-outline{
    font-size: 22px;
    font-weight: 600;
    background-color: white;
    color: #FFAA3A;
    border: 2px solid #FFAA3A;
}

.mtop-50px{
    margin-top: 50px;
}
.kategori-box{
    cursor: pointer;

}

.kategori-box.card{
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);;
}
.kategori-box .card-body{
    padding: 1rem 1.25rem;
}
.kategori-box.active.card{
    border: 2px solid #FFAA3A;
}
.kategori-box-img{
    width: 100%;
    height: 105px;
    object-fit: cover;
}
.flex-kategori{
    flex: 1;
    flex-wrap: wrap;
}
.flex-kategori .col-kt{
    flex: 1 0 19%;
    /* //width: 19%; */
    margin-right: 10px;
    flex-flow: column wrap;
}

.flex-kategori .card-body{
    padding: 1.5rem;
}

.check-pic{
    width: 80px;
    height: 80px;
}
.modal-video{
    border: none !important;
    width: 100%;
    height: 220px;
}
.title-part .waiting-stat{
    color: #FFAA3A;
}
.title-part .rejected-stat{
    color: red;
}
.title-part .accepted-stat{
    color: green;
}
.btn-close{
    margin-right: 15px;
    margin-top: 10px;

}
.btn-close i{
    font-size: 16px;
    color: black;
}


/* RESPONSIVE */

@media (min-width: 576px){
  .modal-dialog {
      max-width: 600px;
      margin: 1.75rem auto;
  }
}

@media screen and (max-width: 769px) {
    .btn.btn-yellow-outline,
    .btn.btn-yellow{
        font-size: 20px;
    }
    .back-icon{
        font-size: 30px;
    }
    .btn.btn-yellow.small{
        font-size: 13px;
    }
    .circle-img{
        width: 220px;
        height: 220px;
    }
    .white-container{
        margin: 0 15px;
        padding: 20px;
    }
    .modal-video{
        width: 100%;
        height: 170px;
    }
    .check-pic{
        width: 75px;
        height: 75px;
    }
}
@media screen and (max-width: 450px) {
    .btn.btn-yellow-outline,
    .btn.btn-yellow{
        font-size: 18px;
    }
    .back-icon{
        font-size: 28px;
    }
    .btn.btn-yellow.small{
        font-size: 10px;
    }
    .white-container{
        margin: 0 8px;
        padding: 15px;
    }
    .modal-video{
        width: 100%;
        height: 150px;
    }
}


#sppa .category{
  opacity: 0.3;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  color: black;
  padding: 6px 10px;
  margin: 10px 10px 0 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#sppa .category.active{
  opacity: 1;
  background: #FF8500;
  border: 1px solid #FF8500;
  border-radius: 5px;
  color:white;
  transition: all .2s ease-in-out;
}

#sppa .categories{
  flex-wrap: wrap;
}

#sppa .sppa__card{
  margin-top: 15px;
  cursor: pointer;
}

#sppa .image__card{
  height: 200px;
}

#sppa .image__card img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#sppa .info__card{
  height: 60px;
  margin-bottom: 10px;
}

#sppa .info__card p{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  color: #000000;
}

#sppa .vote__badge{
  padding:6px;
  position: absolute;
  right: 0;
  top: 0;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

#modal_video .modal-content{
  height: 100%;
}

#sppa .vote__box{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  opacity: 0.3;
  border: 1px solid #000000;
  box-sizing: border-box;
  cursor: pointer;
}

#sppa .voted__box{
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  cursor: pointer;
}

.swal2-styled.swal2-confirm {
    padding: 6px 20px;
    width: 100px;
    height: unset;

    background: #ffaa3a;
    border-radius: 5px;

    font-weight: bold;
    font-size: 18px;
}

.swal2-styled.swal2-deny {
    padding: 6px 20px;
    width: 100px;
    border-radius: 5px;

    font-weight: bold;
    font-size: 18px;
}

ul.pagination{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

ul.pagination li{
  list-style: none;
  width: 35px;
  height: 35px;
  opacity: 0.3;
  box-sizing: border-box;
  margin: 0 5px;
}

ul.pagination li.active{
  opacity: 1;
}

ul.pagination li.active .page-link{
  background: #FFAA3A;
  border: unset;
}

ul.pagination li .page-link{
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #000000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  background: transparent;
  border-radius: 5px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  font-size: 25px;
}

.modal .close:hover,.modal .close:hover i, .modal .close:hover .ki{
  color: #ffaa3a;
}

@media screen and (max-width: 1024px) {
  #sppa .image__card{
    height: 120px;
  }
}

@media screen and (max-width: 991px) {
  #sppa .image__card{
    height: 200px;
  }
}

@media screen and (max-width: 770px) {
  #sppa .image__card{
    height: 150px;
  }
}

#sppa .image__card{
  margin-bottom: 1rem;
}
#sppa .image__card img{
  object-fit: cover;
}
#sppa .info__card p:first-child{
  margin-bottom: 5px
}
