/*** Custom CSS Here ***/
@import "./navbar.css";
@import "./home.css";
@import "./teman-sobat.css";
@import "./tebak-kata.css";
@import "./quiz-win.css";
@import "./quiz.css";
@import "./auction.css";
@import "./jadwal.css";
@import "./coin.css";
@import "./faq.css";
@import "./edit.css";
@import "./gacha.css";
@import "./coming-soon.css";
@import "./zoom.css";
@import "./upload-image.css";
@import "./input-quiz.css";
@import "./panjat.css";
@import "./mainmenu.css";
@import "./hadiah.css";
@import "./reseller.css";
@import "./quiz-show.css";
@import "./survey.css";

body {
    background-image: linear-gradient(
            180deg,
            rgba(255, 170, 58, 0.2) 0%,
            rgba(255, 170, 58, 0.2) 0.02%,
            rgba(255, 170, 58, 0) 198.95%
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        /* url("../images/hero.png"); */ url("../images/banner/bg.png");
    background-size: 100% 450px;
}

@media screen and (max-width: 1366px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/banner/bg-1366.png");
        /* url("../images/bg-1366.png"); */
    }
}
@media screen and (max-width: 1280px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/banner/bg-1280.png");
        /* url("../images/bg-1280.png"); */
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/banner/bg-1024.png");
        /* url("../images/bg-1024.png"); */
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/banner/bg-768.png");
        /* url("../images/bg-768.png"); */
    }
}

@media screen and (max-width: 425px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/banner/bg-425.png");
        /* url("../images/bg-425.png"); */
    }
}

/* body {
    background: url("../images/bg-17.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
} */
