.csb__survey form {
  width: 60%;
  max-height: 650px;
  overflow: auto;
  margin: 50px auto;
}

.csb__survey img {
  width: 150px;
  margin-bottom: 15px;
}

.csb__survey h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  opacity: 1;
  margin-bottom: 15px;
}

.csb__survey h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  opacity: 1;
  margin-bottom: 15px;
}

.csb__survey p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 425px) {
  .csb__survey form {
    width: 100%;
    margin: 25px auto;
    max-height: unset;
    overflow: unset;
    margin-top: 50px;
  }

  .csb__survey h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 1;
    margin-bottom: 15px;
  }

  .csb__survey p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }


}
