#game_lay {
    background: url(../images/layout_ban.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.game_layout {
    background: #ffffff;
    box-shadow: -4px -4px 8px rgba(240, 240, 240, 0.2),
        4px 4px 8px rgba(240, 240, 240, 0.2),
        -4px 4px 8px rgba(255, 255, 255, 0.9),
        4px -4px 10px rgba(240, 240, 240, 0.9),
        inset 1px -1px 2px rgba(255, 255, 255, 0.3),
        inset -1px 1px 2px rgba(240, 240, 240, 0.5);
    border-radius: 26px;
    padding: 20px;
    position: relative;
}

.box__game {
    margin-top: -2rem;
    padding-bottom: 4rem;
}

.game__header {
    z-index: 1;
}

.jamet__img {
    position: absolute;
    bottom: 7rem;
    left: -5rem;
}

.ban__img {
    position: absolute;
    width: 250px;
    bottom: 7.5rem;
    left: 7.3rem;
}

.bh1,
.bh2,
.bh3 {
    opacity: 0.2;
}

.pointer__img {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
}

.time__img {
    position: absolute;
    left: -12rem;
    width: 250px;
}

.timer_text {
    position: absolute;
    left: -4.2rem;
    top: 3.3rem;
    font-weight: bold;
    font-size: 28px;
    line-height: 45px;
    color: #a2600a;
}

.lovebar__img {
    position: absolute;
    right: -11rem;
    width: 245px;
    margin-top: 10px;
}

.love__img {
    position: absolute;
    top: 4rem;
}

.love1 {
    right: 1.5rem;
}

.love2 {
    right: -2.8rem;
}

.love3 {
    right: -7rem;
}

.lifebar__img {
    position: absolute;
    left: -15rem;
    top: 15rem;
    height: 450px;
}

.bh__img {
    position: absolute;
    position: absolute;
    width: 100px;
    left: -11.8rem;
}

.bh3 {
    bottom: 11.5rem;
}

.bh2 {
    bottom: 21.5rem;
}

.bh1 {
    bottom: 31.5rem;
}

.stop__img {
    position: absolute;
    right: -13rem;
    top: 24rem;
}

.go__img,
.playagain__img {
    position: absolute;
    right: -13rem;
    bottom: 6rem;
}

.modal__bg_light {
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-content {
    background-color: transparent;
    box-shadow: none;
}

#play__btn {
    cursor: pointer;
}

.frame__board {
    background: #fafafa;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 8px solid #b66000;
    padding: 2rem;
    position: relative;
    padding-bottom: 3rem;
}

.leader__table {
    border: 8px solid #b66000;
}

.modal__play {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.modal__close {
    position: absolute;
    top: -2rem;
    right: -2rem;
    cursor: pointer;
}

.pos_modal__label {
    position: absolute;
    top: -79px;
    left: 50%;
    transform: translate(-50%, 0);
}

.modal__title_black {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

.modal__desc_gray {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #7c7c7c;
}

.modal__title_white {
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;

    text-align: center;

    color: #ffffff;
}

.modal_title__label {
    position: relative;
}

.pos__modal_title {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
}

.res_ban {
    width: 80px;
    height: 80px;
}

.result__ban {
    margin-top: 1rem;
}

.res__score {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.txt_res_score {
    position: absolute;
    left: 14rem;
    top: 1rem;
}

.btn__result {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.lifelove {
    position: relative;
}

.leader__title {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.modal__close {
    z-index: 999;
}

@media screen and (max-width: 1024px) {
    .bh1 {
        bottom: 35rem;
    }
    .bh2 {
        bottom: 24.5rem;
    }
    .bh3 {
        bottom: 14rem;
    }
}

@media screen and (max-width: 600px) {
    #tambal_mobile {
        display: block;
        width: 100vw;
        height: 100vh;
    }

    .img__leaderboards {
        width: 100%;
    }

    .leader__title {
        top: 1rem;
    }

    #game_lay {
        background: url(../images/base_mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }

    .jamet__img {
        left: -7rem;
        bottom: 10.5rem;
    }

    .bar__img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 10rem;
    }

    .pointer__img {
        width: 25px;
        bottom: 8.8rem;
        left: 3rem;
    }

    .btn__main_mobile {
        width: 100vw;
        position: absolute;
        bottom: 1rem;
    }

    .stop__img_mobile,
    .go__img_mobile,
    .playagain__img_mobile {
        width: 80px;
    }

    .lifebar__img {
        position: absolute;
        top: 20rem;
        left: unset;
        right: 1rem;
        height: 180px;
    }

    .bh__img {
        left: unset;
        width: 38px;
    }

    .bh1 {
        bottom: unset;
        right: 2.2rem;
        top: 21.4rem;
    }

    .bh2 {
        bottom: unset;
        right: 2.2rem;
        top: 25.7rem;
    }

    .bh3 {
        bottom: unset;
        right: 2.2rem;
        top: 30rem;
    }

    .help__img_mobile {
        width: 50px;
        height: 50px;
        margin-top: 5px;
    }

    .time__img_mobile {
        height: 55px;
        margin-left: 5px;
    }

    .header__ban_mobile {
        position: absolute;
        top: 0;
        width: 100vw;
        padding: 10px;
    }

    .ban__img {
        width: 250px;
        bottom: 11.5rem;
        left: 6.3rem;
    }

    .lovebar__img_mobile {
        height: 50px;
        margin-top: 6px;
    }

    .love__img_img {
        position: absolute;
        width: 25px;
        top: 1.3rem;
    }

    .love1 {
        right: unset;
        left: 2.3rem;
    }
    .love2 {
        right: unset;
        left: 5.5rem;
    }
    .love3 {
        right: unset;
        left: 8.5rem;
    }

    .timer_text {
        left: 19rem;
        top: 2rem;
        font-size: 14px;
        line-height: 25px;
    }

    .txt_res_score {
        left: 10rem;
    }
}

@media screen and (max-width: 400px) {
    .pointer__img {
        left: 1.5rem;
    }
}

/* #tambal_mobile_landscape {
    display: none;
}

@media only screen and (orientation: landscape) {
    #tambal_mobile {
        display: none !important;
    }
    #tambal_mobile_landscape {
        display: block;
    }
} */
