.tebak_kata_card {
    height: 600px;
}

.custom-text-primary {
    color: #ffaa3a;
}

.tebak_kata_card .card-header {
    border: transparent;
    padding: 0.5rem;
}

.tebak_kata_card .card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tebak_kata_card .card-body h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 54px;
    text-transform: uppercase;
    color: #000000;
}

.tebak_kata_card .card-body h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    margin: 25px auto 50px auto;
}

.tebak_kata_card button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    width: 230px;
    margin: 0 auto;
}

.tebak_kata_card button:hover {
    color: #ffffff;
    background: #ed9c31;
}

.tebak_kata_card_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.tebak_kata_card_head .cara_bermain {
    background: #ffaa3a;
    border-radius: 5px;

    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
}

@media screen and (max-width: 425px) {
    .tebak_kata_card .card-body h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .tebak_kata_card .card-body h4 {
        font-size: 13px;
        line-height: 24px;
        margin: 5px auto 25px auto;
    }

    .tebak_kata_card button {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        width: 125px;
        margin: 0 auto;
    }
}
