/* .teman_sobat_card {
    margin-top: 100px;
} */

.teman_sobat_card .card-header {
    border: transparent;
    padding: 0.5rem;
}

.teman_sobat_card .card-body {
    text-align: center;
}

.teman_sobat_card .card-body h1 {
    font-weight: 600;
    color: #000000;
}

.teman_sobat_card .card-body h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    /* width: 60%; */
    margin: 25px auto 50px auto;

    width: 80%;
}

.teman_sobat_card .card-body h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ff0000;
    width: 60%;

    margin: 25px auto;
}

.teman_sobat_share {
    margin-bottom: 50px;
}

.teman_sobat_share .sobat_fb,
.teman_sobat_share .sobat_ig,
.teman_sobat_share .sobat_tw,
.teman_sobat_share .sobat_wa,
.teman_sobat_share .sobat_tele,
.teman_sobat_share .sobat_line,
.teman_sobat_share .sobat_link {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
}

.teman_sobat_share .sobat_fb {
    background: #4267b2;
}
.teman_sobat_share .sobat_ig {
    background: radial-gradient(
        84.5% 84.5% at 24% 89.5%,
        #ffdf9e 0%,
        #ffc273 17.48%,
        #e56969 51.24%,
        #c1558b 72.5%,
        #8a49a1 100%
    );
}
.teman_sobat_share .sobat_tw {
    background: #1da1f2;
}

.teman_sobat_share .sobat_wa {
    background: linear-gradient(
        180deg,
        #c4c4c4 0%,
        #57d163 0.01%,
        #23b33a 100%
    );
}

.teman_sobat_share .sobat_tele {
    background: #1da1f2;
}

.teman_sobat_share .sobat_line {
    background: #00ff19;
}

.teman_sobat_share .sobat_link {
    background: #212121;
    cursor: pointer;
}

.teman_sobat_table {
    width: 50%;
    margin: 0 auto;
}

.teman_sobat_paginate {
    margin: 25px auto;
}

.teman_sobat_paginate .pagination {
    justify-content: center;
}

.all_teman_btn {
    background: #ffc273;
    color: #fff;
    margin-right: 15px;
}

.all_teman_btn:hover {
    color: #fff;
}

.teman__sobat_leaderboard {
    margin-bottom: 50px;
}

.teman__sobat_leaderboard .panjat_klasemen {
    width: 60%;
}

@media screen and (max-width: 425px) {
    .teman_sobat_card .card-body h4 {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }

    .teman_sobat_share .sobat_fb,
    .teman_sobat_share .sobat_ig,
    .teman_sobat_share .sobat_tw,
    .teman_sobat_share .sobat_wa,
    .teman_sobat_share .sobat_tele,
    .teman_sobat_share .sobat_line,
    .teman_sobat_share .sobat_link {
        border-radius: 5px;
        width: 75px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
    }

    .teman_sobat_card .card-body h1 {
        font-size: 16px;
    }
    .teman_sobat_table {
        width: 100%;
    }

    .teman_sobat_card .card-body h5 {
        font-size: 12px;
        line-height: 18px;
        width: 100%;
        margin: 25px auto;
    }

    .teman__sobat_leaderboard .col-lg-6 {
        padding: 0;
        margin-bottom: 15px;
    }

    .teman__sobat_leaderboard thead tr th,
    .teman__sobat_leaderboard tbody tr td {
        font-size: 12px !important;
        vertical-align: middle;
    }

    .teman__sobat_leaderboard {
        margin-bottom: 50px;
    }

    .teman__sobat_leaderboard .panjat_klasemen {
        width: 100%;
    }
}
