#form__blog .container {max-width: 1100px; padding: 0 20px; margin:0 auto;}
#form__blog .panel {margin: 0px auto 10px; max-width: 500px; text-align: center;}
#form__blog .button_outer {color: #ffaa3a; border-radius:30px; text-align: center; display: inline-block; transition: .2s; position: relative; overflow: hidden;}
#form__blog .btn_upload {padding: 0 12px; color: #ffaa3a; text-align: center; position: relative; display: inline-block; overflow: hidden; z-index: 3; white-space: nowrap;}
#form__blog .btn_upload input {position: absolute; width: 100%; left: 0; top: 0; width: 100%; height: 105%; cursor: pointer; opacity: 0;}
#form__blog .file_uploading {width: 100%; height: 10px; margin-top: 20px; background: #ccc;}
#form__blog .file_uploading .btn_upload {display: none;}
#form__blog .processing_bar {position: absolute; left: 0; top: 0; width: 0; height: 100%; border-radius: 30px; background:#ffaa3a; transition: 3s;}
#form__blog .file_uploading .processing_bar {width: 100%;}
#form__blog .success_box {display: none; width: 50px; height: 50px; position: relative;}
#form__blog .success_box:before {content: ''; display: block; width: 9px; height: 18px; border-bottom: 6px solid #fff; border-right: 6px solid #fff; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); position: absolute; left: 17px; top: 10px;}
#form__blog .file_uploaded .success_box {display: inline-block;}
#form__blog .file_uploaded {margin-top: 0; width: 50px; background:#ffaa3a; height: 50px;}
#form__blog .uploaded_file_view {max-width: 300px; width:150px; height: 150px; margin: 0px auto; text-align: center; position: relative; transition: .2s; opacity: 0;}
#form__blog .file_remove:hover {background: #222; transition: .2s;}
#form__blog .uploaded_file_view img {max-width: 100%;}
#form__blog .uploaded_file_view.show {opacity: 1;} 
#form__blog .error_msg {text-align: center; color: #f00}
#form__blog .ck-toolbar, #form__blog .ck-content{
    background: transparent; 
    border: solid 3px transparent;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    border: solid 2px rgba(151, 151, 151, 0.4)!important;
    border-radius: 6px!important;
}

#form__blog .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused, #form__blog input:focus{
    box-shadow: none;
    border: solid 2px #ffaa3a!important;
    border-radius: 0.5rem!important; 
}

.title-input{
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    border: solid 2px rgba(151, 151, 151, 0.4);
}

.error_desc{
    color: red;
    font-size: 12px;
    font-style: italic;
}

#form__blog .ck.ck-editor__editable ul{
    padding-left: 1rem;
}

#form__blog #postUpload{
    display: none;
}

.post-uploaded{
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
}

.post-uploaded img{
    object-fit: cover;
    height: 240px;
    position: absolute;
    top:20px;
}

.image-name{
    top: 260px;
    position: absolute;
    max-width: 80%;
    text-overflow: ellipsis;
}

.custom-file-upload {
    width: 100%;
    border: 3px dashed rgba(151, 151, 151, 0.4);
    box-sizing: border-box;
    border-radius: 10px;
    height: 300px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.post_upload_text {
    text-align: center;
}

.post_upload{
    position: relative;
}

.file_remove {
    z-index: 999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: #aaa;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    right: 15px;
    top: 15px;
}

@media screen and (max-width: 600px) {
    .post-uploaded img { 
        height: auto!important; 
        width: 80%!important;
        top: 30px;
    } 
    .custom-file-upload, .post-uploaded{
        height: 230px;
    }

    .image-name{
        top: 180px;
        max-width: 100%;
    }

    .bold-36-black{
        font-size: 22px;
        line-height: 36px;
        max-width: 80%;
    }
}