body{
    background: white;
}
section.body{
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
}

.error-code{
    color: #ffaa3a;
    font-weight: bold;
    font-size: 120px;
}

.text-primary{
    color: #ffaa3a!important; 
}

.error-description{
    font-weight: bold;
}

.error-link{
    color: #299ef7;
}

.error-link:hover{
    color: #2290e3;
}

.custom-navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
 