.hero__12 {
  background: url('../images/event/1212/bg.png'), #ffc503;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__12 img {
  margin-bottom: 25px;
  /* width: 400px; */
}

.hero__12 p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;;
  text-align: center;
  color: #896900;
  margin-top: 25px;
  margin-bottom: 15px;
}

.hero__12 button {
  background: #de0505;
  color: #ffffff;
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  padding: 10px 20px;
}

.hero__12 button:hover {
  color: #ffffff;
}

.hero__12 .hero__12_form_img {
  width: 300px;
  margin-bottom: 50px;
}

.hero__12 .card {
  background: #ffffff75;
  /* opacity: 0.5; */
  border-radius: 20px;
  border:transparent;
  max-width: 550px;
}

.hero__12 .card h5{
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.hero__12 form {
  margin-top: 25px;
}

.hero__12 form label {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.hero__12 form button {
  background: #FFAA3A;
  border-radius: 10px 10px 10px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 12px 24px;
  margin-bottom: 25px;
}

.hero__12 form button:hover {
  color: #fff;
}

.hero__12 form span.hero__12_notes {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #E52020;
}

.desc__12 {
  margin: 100px auto;
}

.desc__12 .desc__12_txt h2{
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #E00505;
}

.desc__12 .desc__12_txt p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.desc__12 .desc__12_txt p strong{
  font-weight: 900;
}
.desc__12 .desc__12_txt p span{
  font-weight: 900;
  color: #E00505;
}

.desc__12 .desc__12_btn {
  text-align: left;
}

.desc__12 .desc__12_btn button {
  border: 3px solid #FFAA3A;
  box-sizing: border-box;
  border-radius: 10px;

  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #FFAA3A;
  padding: 25px 40px;
}

.desc__12 .desc__12_btnv2 {
  text-align: center;
}

.desc__12 .desc__12_btnv2 button {
  background: #E00505;
  border-radius: 10px;

  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 25px 100px;
  border: transparent;
}

.benefit__12 {
  background: #ffaa3a1b;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.benefit__12 h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #FFAA3A;
  margin-bottom: 25px;
}

.benefit__12_card {
  display: flex;
  margin-bottom: 15px;
}

.benefit__12_card .card{
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.benefit__12_card .card .card-body{
  padding: 1rem 2rem;
}

.benefit__12_card .card .card-body h5{
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #935400;
  margin: 0;
}

.game__12,
.footer__12 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__12{
  text-align: center;
}

.game__12 h2,
.footer__12 h2{
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #FFAA3A;
  margin-bottom: 25px;
  text-align: center;
}

.footer__12 h2 {
  margin-bottom: 40px;
}

.footer__12 h5{
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #FFAA3A;
  margin: 25px auto;
  text-align: center;
}

.footer__12 button{
  background: #00CC5D;
  border-radius: 10px 10px 10px 0px;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  padding: 15px 30px;
}

.footer__12 button:hover{
  color: #FFF;
}

.footer__12 button img{
  background: #ffffff;
  padding: 5px;
  border-radius: 50%;
}

.footer__12 button.csb__btn{
  color: #00CC5D;
  background: #ffffff;
  border: 2px solid #00CC5D;
}

.owl-carousel .owl-stage-outer {
  padding: 1rem 0;
}


.owl-carousel .owl-item img {
  width: unset;
  margin: 0 auto;
}

.owl-item.active.center {
  padding: 1rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: -15px;
}

.labbb img {
  border-radius: 10px;
}


.modal__12 .modal-content {
  padding: 3rem;
}

.modal__12 .modal-content h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: rgba(27, 29, 31, 0.7);
  margin: 0;
  margin-bottom: 25px;
}

.modal__12 .modal-content ol li {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: rgba(27, 29, 31, 0.7);
  padding-left: 5px;
  margin-bottom: 5px;
}

.modal__12 .modal-content span {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #E52020;
  margin-bottom: 25px;
}

.modal__12 .modal-content button {
  background: #FFAA3A;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 10px 30px;
}

.hero__12_form {
  background: url('../images/event/1212/bg.png'), #ffc503;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__12_form img {
  margin-bottom: 25px
}

.hero__12_form p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;;
  text-align: center;
  color: #896900;
  margin-top: 25px;
  margin-bottom: 15px;
}

.hero__12_form .hero__12_form_img {
  width: 300px;
  margin-bottom: 50px;
}

.hero__12_form .card {
  background: #ffffff75;
  /* opacity: 0.5; */
  border-radius: 20px;
  border:transparent;
  max-width: 550px;
}

.hero__12_form .card h5{
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.hero__12_form .card h5 span{
  color: #E52020;
}

.hero__12_form form {
  margin-top: 25px;
}

.hero__12_form form label {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.hero__12_form form button {
  background: #FFAA3A;
  border-radius: 10px 10px 10px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 12px 24px;
  margin-bottom: 25px;
}

.hero__12_form form button:hover {
  color: #fff;
}

.hero__12_form form button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.hero__12_form form span.hero__12_notes {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #E52020;
}

.benefit__12v2 iframe {
  width: 100%;
  height: 600px;
}

.game__12v2 img {
  border-radius: 10px;
  margin-bottom: 5px;
}

.game__12v2 button {
  width: 100%;
  border: transparent;
  background: #E00505;
  border-radius: 10px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 10px;
}

.game__12v2 .col-lg-4 {
  margin-bottom: 50px;
}

@media screen and (max-width: 1440px) {
  .hero__12 img {
    width: 350px;
  }

  .hero__12 .switch__12 {
    width: unset;
  }
}

@media screen and (max-width: 1024px) {
  .desc__12 {
    margin: 100px auto;
  }

  .desc__12 .desc__12_txt h2{
    font-size: 36px;
    line-height: 46px;
  }

  .desc__12 .desc__12_txt p{
    font-size: 14px;
    line-height: 22px;
  }

  .desc__12 .desc__12_btn button {
    font-size: 14px;
    line-height: 24px;
    color: #FFAA3A;
    padding: 15px 30px;
  }
}

@media screen and (max-width: 768px) {
  .desc__12 {
    margin: 50px auto;
  }

  .desc__12 .desc__12_txt h2{
    font-size: 36px;
    line-height: 46px;
    text-align: left;
  }

  .desc__12 .desc__12_txt p{
    font-size: 14px;
    line-height: 22px;
  }

  .desc__12 .desc__12_btn button {
    font-size: 14px;
    line-height: 24px;
    color: #FFAA3A;
    padding: 15px 30px;
    margin-top: 25px;
  }

  .benefit__12 h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .benefit__12_card .card .card-body h5{
    font-size: 14px;
    line-height: 22px;
    color: #935400;
    margin: 0;
  }

  .game__12 h2,
  .footer__12 h2{
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 25px;
    text-align: center;
  }

  .owl-carousel .owl-item img {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .hero__12 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero__12 img {
    width: 90%;
  }

  .hero__12 p {
    font-size: 12px;
    line-height: 18px;;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .hero__12 button {
    background: #de0505;
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    padding: 10px 20px;
  }

  .hero__12 .switch__12 {
    width: 35px;
    margin: 0;
  }

  .desc__12 .desc__12_btn button {
    font-size: 14px;
    line-height: 18px;

    padding: 10px;
    width: 100%;
    margin-top: 15px;
  }

  .game__12 h2,
  .footer__12 h2{
    font-size: 18px !important;
    line-height: 28px !important;
    margin-bottom: 15px;
    text-align: center;
  }

  .footer__12 button{
    background: #00CC5D;
    border-radius: 10px 10px 10px 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 10px 20px;
  }


  .hero__12_form {
    padding-top: 75px;
    padding-bottom: 75px;
    min-height: 100vh;
  }

  .hero__12_form .hero__12_form_img {
    width: 200px;
    margin-bottom: 25px;
  }

  .hero__12_form .card {
    max-width: 100%;
  }

  .hero__12_form .card h5{
    font-size: 16px;
    line-height: 20px;
  }

  .hero__12_form form {
    margin-top: 25px;
  }

  .hero__12_form form label {
    font-size: 12px;
    line-height: 18px;
  }

  .hero__12_form form button {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 12px 24px;
    margin-bottom: 25px;
  }

  .hero__12_form form span.hero__12_notes {
    font-size: 11px;
    line-height: 16px;
  }

  .desc__12 .desc__12_btnv2 button {
    color: #FFFFFF;

    font-size: 14px;
    line-height: 18px;

    padding: 20px;
    width: 100%;
    margin-top: 15px;
  }

  .benefit__12v2 iframe {
    width: 100%;
    height: 200px;
  }

  .game__12v2 button {
    width: 100%;
    border: transparent;
    background: #E00505;
    border-radius: 10px;

    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 7px;
  }
}
