.hut_hero img {
    width: 100%;
}

.hut_img_mbl {
    display: none;
}

.hut__card {
    margin: 25px auto;
    margin-top: -65px;
}

.hut__card .card {
    width: 100%;
    background: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.6)
        ),
        url("../images/lomba/mainmenu/card-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: transparent;
}

.hut__card .card-body {
    text-align: center;
}

.hut__card .card-body h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

.hut__card .card-body p {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;

    width: 60%;
    margin: 0 auto;
}

.hut__card .card-body button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    padding: 8px 25px;
    margin-top: 25px;
}

.lomba__thumb {
    margin-top: 25px;
    margin-bottom: 100px;
}

@media screen and (max-width: 425px) {
    .hut_img_mbl {
        display: block;
    }

    .hut_img_desk {
        display: none;
    }

    .hut__card {
        margin: 25px auto;
        margin-top: -15px;
    }

    .hut__card .card-body h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .hut__card .card-body p {
        font-size: 12px;
        line-height: 160%;

        letter-spacing: 0.05em;

        width: 100%;
        margin: 0 auto;
    }

    .hut__card .card-body button {
        font-size: 16px;
        line-height: 24px;
    }

    .lomba__thumb .lomba__thumb_img {
        margin-bottom: 15px;
    }
}
