.event__banner {
    background: url("../images/event/hero.png"), #686868;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    height: 80vh;
    position: relative;
}

.event__banner_btn {
    position: absolute;
    bottom: 4rem;
    right: 30rem;

    background: #e52020;
    border-radius: 10px 10px 10px 0px;
    color: #ffffff;

    width: 300px;
    height: 60px;

    font-weight: 600;
    font-size: 24px;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.event__banner_btn:hover {
    color: #ffffff;
    opacity: 1;
}

@media screen and (max-width: 1366px) {
    .event__banner_btn {
        bottom: 3rem;
        right: 15rem;

        width: 300px;
        height: 60px;
    }
}
@media screen and (max-width: 1024px) {
    .event__banner_btn {
        bottom: 3rem;
        right: 5rem;

        width: 300px;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .event__banner_btn {
        bottom: 9rem;
        right: 3rem;

        width: 250px;
        height: 50px;

        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    .event__banner {
        background: url("../images/event/hero-m.png"), #686868;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        height: 90vh;
    }

    .event__banner_btn {
        bottom: 1.5rem;
        right: 1rem;

        width: 90%;
        height: 50px;

        font-size: 18px;
    }
}

.event__hero {
    text-align: center;
    position: relative;

    padding-top: 200px;
    padding-bottom: 200px;

    background: url("../images/event/nani.png"),
        linear-gradient(
            270deg,
            #ff8b00 0%,
            #ffa200 21.35%,
            #ffba00 49.61%,
            #ffc900 75.76%,
            #ffce00 97.55%
        );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.event__hero_bg {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.event__hero h2 {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
}

.event__title {
    position: relative;
}

.event__title h1 {
    font-weight: bold;
    font-size: 144px;
    line-height: 144px;
    color: #000000;

    position: relative;
    z-index: 3 !important;
    /* margin-bottom: 25px; */
}

.event__hero h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #fff;
}

.event__hero h3 span {
    color: #1b1d1f;
    background: radial-gradient(
        86.76% 2955.88% at 47.01% 61.76%,
        rgba(255, 255, 255, 0.6) 0%,
        #ffffff 100%
    );
    border-radius: 5px;
    padding: 0.3rem;
}

.event__hero button {
    background: #e52020;
    border-radius: 10px 10px 10px 0px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    padding: 12px 25px;
}

.event__hero button:hover {
    background: #d81e1e;
    color: #ffffff;
}

#marquee {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    position: absolute;
    top: 50px;
    width: 100%;
}

#marquee_bot {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    position: absolute;
    bottom: 50px;
    width: 100%;
    /* border: 1px solid red; */
}

.event__product {
    margin: 50px 0;
}

.event__product h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #1b1d1f;
    text-align: center;
    margin-bottom: 25px;
}

.event__syarat {
    margin: 50px auto;
}

.event__syarat_title {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    width: 250px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 25px auto;
}

.event__syarat .card {
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 25px;
}

.event__syarat .card-body {
    display: flex;
    align-items: center;
}

.event__syarat h6 {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin: 0;
}
.event__syarat .event__syarat_num {
    margin-right: 25px;
}

@media screen and (max-width: 768px) {
    .event__hero {
        padding-top: 100px;
        padding-bottom: 100px;

        background: url("../images/event/nani.png"),
            linear-gradient(
                270deg,
                #ff8b00 0%,
                #ffa200 21.35%,
                #ffba00 49.61%,
                #ffc900 75.76%,
                #ffce00 97.55%
            );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .event__hero_bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 250px;
    }

    .event__hero h2 {
        font-weight: bold;
        font-size: 20px;
        color: #000000;
    }

    .event__title h1 {
        font-weight: bold;
        font-size: 72px;
        line-height: 72px;
        color: #000000;

        position: relative;
        z-index: 3 !important;
        /* margin-bottom: 25px; */
    }

    .event__hero h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
    }

    .event__hero button {
        font-size: 14px;
        line-height: 18px;
        margin-top: 25px;
    }

    .event__hero button:hover {
        background: #d81e1e;
        color: #ffffff;
    }

    #marquee {
        font-size: 14px;
        line-height: 18px;
        position: absolute;
        top: 25px;
        width: 100%;
    }

    #marquee_bot {
        font-size: 14px;
        line-height: 18px;

        position: absolute;
        bottom: 25px;
        width: 100%;
    }
}

/* ======================================= */

.quiz_card_area {
    position: relative;
    margin-bottom: 30px;
}
.single_quiz_card {
    background: #ffffff;
    border: 1px solid #efefef;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -khtml-transition: all 0.1s linear;
    transition: all 0.1s linear;

    border-radius: 10px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
}
.quiz_card_title {
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz_card_title h3 {
    font-size: 14px;
    font-weight: 400;
    color: #292d3f;
    margin-bottom: 0;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -khtml-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.quiz_card_title h3 i {
    color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.22);
}
.quiz_card_icon {
    max-width: 100%;
    min-height: 135px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz_icon {
    width: 70px;
    height: 75px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -khtml-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.quiz_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
}
.quiz_checkbox:checked ~ .single_quiz_card {
    border: 1px solid #ff8b00;
}
.quiz_checkbox:checked:hover ~ .single_quiz_card {
    border: 1px solid #ff8b00;
}

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_title {
    background-color: #ff8b00;
    color: #ffffff;
}
.quiz_checkbox:checked
    ~ .single_quiz_card
    .quiz_card_content
    .quiz_card_title
    h3 {
    color: #ffffff;
}
/* .quiz_checkbox:checked
    ~ .single_quiz_card
    .quiz_card_content
    .quiz_card_title
    h3
    i {
    opacity: 1;
} */
.quiz_checkbox:checked:hover ~ .quiz_card_title {
    border: 1px solid #ff8b00;
}

/*Icon Selector*/

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_icon {
    color: #ff8b00;
}
.quiz_checkbox:checked
    ~ .single_quiz_card
    .quiz_card_content
    .quiz_card_icon
    .quiz_icon1 {
    background-image: url("https://img.icons8.com/nolan/32/000000/maxcdn.png");
}
.quiz_checkbox:checked
    ~ .single_quiz_card
    .quiz_card_content
    .quiz_card_icon
    .quiz_icon2 {
    background-image: url("https://img.icons8.com/color/48/000000/download-2.png");
}
.quiz_checkbox:checked
    ~ .single_quiz_card
    .quiz_card_content
    .quiz_card_icon
    .quiz_icon3 {
    background-image: url("https://img.icons8.com/color/48/000000/cloudflare.png");
}
.quiz_checkbox:checked
    ~ .single_quiz_card
    .quiz_card_content
    .quiz_card_icon
    .quiz_icon4 {
    background-image: url("https://img.icons8.com/material-outlined/80/000000/download-2.png");
}

.quiz_card_icon {
    font-size: 50px;
    color: #000000;
}

.quiz_card_icon img {
    width: 100%;
    object-fit: contain;
    max-height: 200px;
}

.event__cart_card {
    display: block;
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    z-index: 99;
    padding: 1rem;
}

.event__cart_card button {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.event__cart_card button:hover {
    color: #ffffff;
}

.event__modal .modal-content,
.event__modal_form .modal-content {
    padding: 2rem;
    text-align: center;
}

.event__modal h6,
.event__modal_form h6 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    /* margin-bottom: 25px; */
}

.event__modal p {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    opacity: 0.7;
}

.event__modal button {
    width: 100%;
    background: #ffaa3a;
    border-radius: 5px;
    color: #fff;
}

.event__modal button.ghost {
    border: 2px solid #ffaa3a;
    box-sizing: border-box;
    background: #fff;
    color: #ffaa3a;
}

.event__modal_form button {
    background: #ffaa3a;
    border-radius: 5px;
    color: #fff;
    width: 250px;
    margin: 0 auto;
}

.event__modal button:hover,
.event__modal_form button:hover {
    background: #ffaa3a;
    color: #fff;
}

@media screen and (max-width: 425px) {
    .event__modal_form button {
        width: 150px;
    }

    .event__cart_card {
        display: block;
        position: fixed;
        bottom: 0;
        background: #fff;
        width: 100%;
        z-index: 99;
        padding: 1rem;
    }

    .event__cart_card button {
        background: #ffaa3a;
        border-radius: 10px 10px 10px 0px;

        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
    }
}

#total_cart {
    color: #ffaa3a !important;
}

#userPesanan {
    /* border: 1px solid red; */
}
