.disclaimer__wrapper {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.disclaimer__wrapper h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.disclaimer__wrapper h6 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.disclaimer__wrapper p {
    line-height: 20px;
}

.one_sec {
    margin-bottom: 25px;
}

@media screen and (max-width: 425px) {
    .disclaimer__wrapper {
        width: 100%;
        margin-bottom: 25px;
        text-align: left;
    }

    .disclaimer__wrapper h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .disclaimer__wrapper h6,
    .disclaimer__wrapper p {
        text-align: left;
    }
}