.event__makeup {
    height: 80vh;

    background: url("../images/event/1010/bg-makeup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.event__makeup .bunda__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
}

.event__makeup h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    color: #000000;
    text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff,
        -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff,
        -2px 0px 0 #ffffff, 0px -2px 0 #ffffff;
}

.event__makeup h1 {
    font-weight: 800;
    font-size: 72px;
    line-height: 125%;
    color: #ffffff;

    text-shadow: 4px 4px 0 #eb5a85, 4px -2px 0 #eb5a85, -2px 4px 0 #eb5a85,
        -2px -2px 0 #eb5a85, 4px 0px 0 #eb5a85, 0px 4px 0 #eb5a85,
        -2px 0px 0 #eb5a85, 0px -2px 0 #eb5a85;
    font-style: italic;
    /* letter-spacing: -1px; */
}

.event__makeup button {
    width: 300px !important;
}

.event__1010 {
    height: 80vh;

    background: url("../images/event/1010/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.event__1010 .bunda__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
}

.event__1010 .bunda__cloud {
    position: absolute;
    top: 100px;
    right: 0;
    width: 500px;
}

.event__1010 .bunda__promo {
    position: absolute;
    bottom: 50px;
    left: 60%;
    transform: translateX(-60%);
    width: 300px;
}

.event__1010 .csbxwgm {
    position: absolute;
    top: 15px;
    left: 15px;
}

.event__hero_wrapper {
    /* border: 1px solid red; */
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event__1010 h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    color: #000000;
}

.event__1010 h1 span {
    color: #ed1c24;
}

.event__hero_wrapper button {
    background: #ed1c24;
    border-radius: 10px 10px 10px 0;

    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: #ffffff;

    width: 300px;
    margin-top: 25px;
    text-transform: uppercase;
    border: 5px solid #ffffff;
}

.event__hero_wrapper button:hover {
    color: #ffffff;
}

@media screen and (max-width: 1366px) {
    .event__1010 .bunda__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
    }

    .event__1010 .bunda__cloud {
        position: absolute;
        top: 100px;
        right: 0;
        width: 350px;
    }

    .event__1010 .bunda__promo {
        position: absolute;
        bottom: 50px;
        left: 60%;
        transform: translateX(-60%);
        width: 250px;
    }

    .event__1010 h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 53px;
        color: #000000;
    }

    .event__hero_wrapper button {
        font-size: 20px;
        line-height: 125%;

        width: 200px;
    }

    .event__makeup .bunda__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
    }

    .event__makeup h2 {
        font-weight: 600;
        font-size: 50px;
        line-height: 63px;
        color: #000000;
        text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff,
            -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff,
            -2px 0px 0 #ffffff, 0px -2px 0 #ffffff;
    }

    .event__makeup h1 {
        font-weight: 800;
        font-size: 72px;
        line-height: 125%;
        color: #ffffff;

        text-shadow: 4px 4px 0 #eb5a85, 4px -2px 0 #eb5a85, -2px 4px 0 #eb5a85,
            -2px -2px 0 #eb5a85, 4px 0px 0 #eb5a85, 0px 4px 0 #eb5a85,
            -2px 0px 0 #eb5a85, 0px -2px 0 #eb5a85;
        font-style: italic;
        /* letter-spacing: -1px; */
    }

    .event__makeup button {
        width: 300px !important;
    }
}

@media screen and (max-width: 1024px) {
    .event__1010 .bunda__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
    }

    .event__1010 .bunda__cloud {
        position: absolute;
        top: 100px;
        right: 0;
        width: 350px;
    }

    .event__1010 .bunda__promo {
        position: absolute;
        bottom: 50px;
        left: 60%;
        transform: translateX(-60%);
        width: 200px;
    }

    .event__1010 h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 43px;
        color: #000000;
    }

    .event__hero_wrapper button {
        font-size: 20px;
        line-height: 125%;
        width: 200px;
    }

    .event__makeup .bunda__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
    }

    .event__makeup h2 {
        font-size: 30px;
        line-height: 43px;
    }

    .event__makeup h1 {
        font-weight: 800;
        font-size: 42px;
        line-height: 125%;
    }

    .event__makeup button {
        width: 250px !important;
    }
}

@media screen and (max-width: 768px) {
    .event__1010 .bunda__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
    }

    .event__1010 .bunda__cloud {
        position: absolute;
        top: 100px;
        right: 0;
        width: 300px;
    }

    .event__1010 .bunda__promo {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
    }

    .event__1010 h1 {
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        color: #000000;
    }

    .event__hero_wrapper button {
        font-size: 18px;
        line-height: 125%;
        width: 200px;
    }

    .event__makeup .bunda__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
    }

    .event__makeup h2 {
        font-size: 25px;
        line-height: 43px;
        text-align: left;
    }

    .event__makeup h1 {
        font-size: 38px;
        line-height: 125%;
    }

    .event__makeup button {
        width: 250px !important;
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    .event__1010 {
        height: 100vh;
    }

    .event__1010 .bunda__img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
    }

    .event__1010 .bunda__cloud {
        position: absolute;
        left: 50%;
        top: unset;
        bottom: 200px;
        transform: translateX(-50%);
        width: 250px;
    }

    .event__1010 .bunda__promo {
        position: absolute;
        bottom: 340px;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
    }

    .event__1010 h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
    }

    .event__hero_wrapper button {
        font-size: 14px;
        line-height: 125%;
        width: 200px;
        margin-top: 15px;
    }

    .event__hero_wrapper {
        /* border: 1px solid red; */
        height: 100%;
        justify-content: flex-start;
        padding-top: 75px;
    }

    .event__makeup {
        height: 90vh;
    }
}

.event__desc {
    text-align: center;
    margin: 100px auto;
}

.event__desc h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #ffaa3a;
}

.event__desc p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(27, 29, 31, 0.7);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.event__desc .row {
    /* border: 1px solid red; */
    width: 40%;
    margin: 10px auto;

    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(27, 29, 31, 0.7);
}

.event__choices label {
    width: 100%;
}

.event__choices h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #ffaa3a;
    margin-bottom: 25px;
}

.event__choices .card-input-element + .card {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff;

    background: #ffaa3a;
    opacity: 0.4;
    border-radius: 10px 10px 10px 0px;
    padding: 12px;
}

.event__choices .card-input-element + .card:hover {
    cursor: pointer;
}

.event__choices .card-input-element:checked + .card {
    -webkit-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    opacity: 1;
}

.event__custom_input {
    width: 100%;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event__custom_input input {
    width: 50%;
}

.event__essay {
    margin: 50px auto;
}

.event__essay h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #ffaa3a;
    margin-bottom: 15px;
}

.event__essay textarea {
    width: 40%;
    margin: 15px auto;
}

.event__essay button {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;
    color: #ffffff;
    padding: 8px 25px;
}

.event__essay button:hover {
    color: #ffffff;
}

.event__form {
    margin-bottom: 50px;
}

.event__form_container {
    width: 50%;
    margin: 0 auto;
}

.event__form_container h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #ffaa3a;
}

.event__form_container button {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    padding: 8px 15px;
}

.event__form_container button:hover {
    color: #ffffff;
}

.event__makeup_modal .modal-content {
    padding: 2rem;
    text-align: center;
}

.event__makeup_modal .modal-content h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(27, 29, 31, 0.7);
}

.event__makeup_modal .modal-content p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #e52020;
}

.event__makeup_modal .modal-content button {
    background: #ffaa3a;
    border-radius: 5px;

    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 8px 30px;
}

@media screen and (max-width: 1024px) {
    .event__desc h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .event__desc p {
        font-size: 14px;
        line-height: 22px;
        width: 80%;
        margin-bottom: 15px;
    }

    .event__desc .row {
        width: 60%;
        margin: 10px auto;
        font-size: 16px;
        line-height: 24px;
    }

    .event__form_container {
        width: 60%;
        margin: 0 auto;
    }

    .event__form_container h3 {
        font-size: 28px;
        line-height: 42px;
    }

    .event__form_container button {
        font-size: 14px;
        line-height: 20px;
        padding: 8px 15px;
    }
}

@media screen and (max-width: 768px) {
    .event__desc h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .event__desc p {
        width: 100%;
    }

    .event__desc .row {
        width: 70%;
        margin: 10px auto;
        font-size: 16px;
        line-height: 24px;
    }

    .event__form_container {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .event__desc {
        margin: 50px auto;
    }

    .event__desc h2 {
        margin-bottom: 25px;
    }

    .event__desc .row {
        width: 100%;
        margin: 5px auto;
        font-size: 14px;
        line-height: 20px;
    }

    .event__form_container {
        width: 100%;
        margin: 0 auto;
    }

    .event__custom_input input {
        width: 100%;
    }

    .event__essay h3 {
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    .event__essay textarea {
        width: 100%;
        margin: 15px auto;
    }

    .event__essay button {
        background: #ffaa3a;
        border-radius: 10px 10px 10px 0px;
        color: #ffffff;
        padding: 8px 25px;
    }

    .event__choices h3 {
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    .event__desc h2 {
        font-weight: bold;
        font-size: 24px !important;
        line-height: 32px;
        color: #ffaa3a;
    }

    .event__desc p {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: rgba(27, 29, 31, 0.7);
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}
