.faq-card{
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 15%);
    background-color: white;
    border-radius: 10px;
    padding: 1rem; 
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid white;
    transition: all 500ms;
    width: 180px;
    height: 220px;
}

.faq-card:hover{ 
    border: 2px solid #ffaa3a;
}

.faq-card.active{
    border: 2px solid #ffaa3a;
}

.faq-card img{
    width: 100%;
} 

.faq-card .title{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px; 
    text-align: center; 
    word-break: break-word;
    color: black;
}

#accordion__auction, #accordion__quiz{
    display: none;
}

section.faq{
    margin-bottom: 8rem;
}

@media screen and (max-width: 900px){
    .faq-card{
        width: 150px;
        height: 200px;
    } 
}

@media screen and (max-width: 600px){ 

    .faq-card .title{ 
        font-size: 12px;
    }

    .faq-card{
        width: 120px;
        height: 180px;
    } 

    .faq-card{  
        margin: 0 5px;
    }
}

@media screen and (max-width: 375px){ 
    .faq-card{ 
        height: 150px;
    } 
}