.harbolnas__hero {
  min-height: 80vh;
  max-height: 80vh;
  object-fit: contain;
  background: url('../images/event/1111/harbol11.png'), #f69220;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.harbolnas__hero2 {
  min-height: 80vh;
  max-height: 80vh;
  object-fit: contain;
  background: url('../images/event/1111/pilih11.png'), #f69220;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.harbolnas__hero3 {
  min-height: 80vh;
  max-height: 80vh;
  object-fit: contain;
  background: url('../images/event/1111/11hero.png'), #f69220;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.harbolnas__desc_img {
  text-align: right;
}

.harbolnas__desc_txt h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 38px;
  color: #FFAA3A;
  margin-bottom: 15px;
}

.harbolnas__desc_txt p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  width: 85%
}

.harbolnas__desc_txt button {
  border-radius: 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 25px;
  margin-right: 10px;
  border: 2px solid #FFAA3A;
}

.harbolnas__desc_txt button.prim {
  background: #FFAA3A;
  color: #ffffff;
}

.harbolnas__desc_txt button.sec {
  background: #ffffff;
  color: #FFAA3A;

}

.harbolnas__benefit {
  padding-left: 200px;
}

.harbolnas__benefit_desc h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFAA3A;
  margin-bottom: 25px;
}

.harbolnas__benefit_num {
  background: #FFAA3A;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin-right: 15px;
}

.harbolnas__benefit_txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.harbolnas__form_wrapper {
  width: 60%;
  margin: 50px auto;
}

.harbolnas__form_wrapper h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFAA3A;
  text-align: center;
  margin-bottom: 50px;
}

.harbolnas__form_wrapper label {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #1B1D1F;
}

.harbolnas__form_wrapper button {
  background: #FFAA3A;
  border-radius: 5px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 12px 76px;
}

.harbolnas__form_wrapper button:hover {
  color: #FFFFFF;
}

.harbolnas__footer {
  margin: 50px auto;
}

.harbolnas__footer h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFAA3A;
}

.harbolnas__footer .ketentuan {
  margin-top: 50px;
  margin-bottom: 25px;
}

.harbolnas__footer button {
  background: #FFAA3A;
  border-radius: 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 12px 25px;
}

.harbolnas__footer button:hover {
  color: #ffffff;
}

.harbolnas__cara h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFAA3A;
  margin-top: 75px;
}

.sk_wrapper {
  width: 60%;
  text-align: left;
  margin: 0 auto;
}

.sk_wrapper button {
  background: #FFAA3A;
  border-radius: 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 12px 30px
}

.sk_wrapper button:hover {
  color: #ffffff;
}

.harbolnas__modal .modal-content {
  padding: 2rem;
}

.harbolnas__modal .modal-content img {
  width: 50px;
  margin: 15px auto;
}

.harbolnas__modal .modal-content h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  color: #FFAA3A;
}

.harbolnas__modal .modal-content h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #FFAA3A;
}

.harbolnas__modal .modal-content h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
}

.harbolnas__modal .modal-content button {
  background: #FFAA3A;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  width: 80%;
}


.pulse-button {
  position: absolute;
  bottom: 10rem;
  right: 40rem;
  width: 200px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  /* border-radius: 50%; */
  background-color: #d61616;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

/* .cara-desk {
  display: block;
} */

.cara-mob {
  display: none;
}

@media screen and (max-width: 1024px) {
  .harbolnas__benefit {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .harbolnas__desc_img {
    text-align: center;
  }

  .harbolnas__desc_txt {
    margin-bottom: 50px;
  }

  .harbolnas__desc_txt h2{
    text-align: left;
  }
  .harbolnas__desc_txt p{
    width: 100%
  }

  .harbolnas__benefit h2 {
    text-align: left;
  }

  .harbolnas__benefit_desc {
    order: 2;
  }
  .harbolnas__benefit_img {
    order: 1;
    text-align: center;
  }
  .harbolnas__form_wrapper {
    width: 90%;
    margin: 50px auto;
  }
}

@media screen and (max-width: 425px) {
  .harbolnas__hero {
    min-height: 90vh;
    max-height: 90vh;
    background: url('../images/event/1111/harbol11m.png'), #f69220;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .harbolnas__hero2 {
    min-height: 90vh;
    max-height: 90vh;
    object-fit: contain;
    background: url('../images/event/1111/pilih11m.png'), #f69220;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .harbolnas__hero3 {
    min-height: 90vh;
    max-height: 90vh;
    object-fit: contain;
    background: url('../images/event/1111/11herom.png'), #f69220;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .harbolnas__desc_img {
    text-align: center;
  }

  .harbolnas__desc_img img{
    width: 80%;
  }

  .harbolnas__desc_txt h2 {
    text-align: left;
  }

  .harbolnas__desc_txt p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    width: 100%;
  }

  .harbolnas__benefit_num {
    width: 40px;
    height: 40px;

    font-size: 20px;
    line-height: 32px;
  }

  .harbolnas__benefit_txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-align: left;
  }

  .harbolnas__benefit_img img{
    width: 100%
  }

  .harbolnas__form_wrapper {
    width: 100%;
    margin: 50px auto;
  }

  .harbolnas__form_wrapper h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .harbolnas__form_wrapper label {
    font-size: 13px;
    line-height: 20px;
  }

  .harbolnas__form_wrapper button {
    font-size: 14px;
    line-height: 20px;
    padding: 7px 56px;
  }

  .harbolnas__footer {
    margin: 25px auto;
  }

  .harbolnas__footer h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .harbolnas__footer .ketentuan {
    margin-top: 50px;
    margin-bottom: 15px;
  }

  .harbolnas__cara h2 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
  }

  .harbolnas__cara img {
    width: 100% !important;
  }

  .sk_wrapper {
    width: 100%;
  }

  .sk_wrapper button {
    font-size: 13px;
    line-height: 20px;
    padding: 7px 15px
  }

  .harbolnas__footer h2.ketentuan {
    font-size: 20px !important;
    line-height: 30px !important;
  }

  .cara-desk {
    display: none;
  }

  .cara-mob {
    display: block;
  }
}
