.hero__imlek img{
  width: 100%;
}

.hero__imlek .mobile {
  display: none;
}

.imlek__container {
  background: url('../images/event/imlek/bg-orn.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imlek h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.125px;
  color: #600000;
}

.imlek h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.8);
}

.imlek p {
  font-weight: normal;
  font-size: 16px;
  line-height: 250%;
  color: #000000;
}

.imlek button {
  background: #FFAA3A;
  border-radius: 10px 10px 10px 0px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.imlek button:hover {
  color: #FFFFFF;
}

.section__imlek_1 {
  margin-bottom: 100px;
  background: rgb(245,248,250);
  background: linear-gradient(180deg, rgba(245,248,250,1) 0%, rgba(245,248,250,0.5018382352941176) 35%, rgba(245,248,250,0) 100%);
  padding-top: 50px;
}

.section__imlek_1 h2 {
  margin-bottom: 15px;
}

.section__imlek_1 h6 {
  margin-bottom: 20px;
}

.section__imlek_2 {
  margin-bottom: 150px;
}

.section__imlek_2 h2 {
  margin-bottom: 50px;
}
.section__imlek_2 .card {
  background: #F6E9BA;
  border-radius: 16px;
  border: transparent;
  padding: 1rem;
  min-height: 250px;
  transition: all 0.2s;
}

.section__imlek_2 .card h3 {
  font-weight: 600;
  font-size: 60px;
  line-height: 96px;
  color: #BD201C;
}

.section__imlek_2 .card h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #600000;
}

.section__imlek_2 .card img {
  margin-top: -60px;
}

.section__imlek_2 .card:hover {
  margin-top: -5px;
  background: #8C0000;
  box-shadow: 0px 20px 40px #D0A2A2;
}

.section__imlek_2 .card:hover h3 {
  color: #FFFFFF;
  opacity: 0.4;
}

.section__imlek_2 .card:hover h5 {
  color: #FFFFFF;
}

.section__imlek_3 {
  margin-bottom: 100px;
}

.section__imlek_4 {
  background: #F6E9BA;
  text-align: center;
  padding: 3rem 1rem;
}

.section__imlek_4 .imlek__reg_google {
  background: #FFFFFF;
  border-radius: 10px 10px 10px 0px;

  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #E47700;

  width: 60%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.section__imlek_4 .imlek__reg_google:hover {
  color: #E47700;
}

.section__imlek_4 .imlek__reg_csb {
  background: #BD201C;
  border: 3px solid #FF8500;
  border-radius: 10px 10px 10px 0px;

  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;

  width: 60%;
  margin: 0 auto;
}

.section__imlek_4 {
  margin: 100px auto;
}

.section__imlek_5 {
  margin-bottom: 50px;
}

/* .section__imlek_5 .card {
  border: transparent;
  padding: 5rem 30rem;

  background: url('../images/event/imlek/laptopnew.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
} */

.section__imlek_5 .card {
  padding: 1rem;
  background: #f6e9ba;
  border: 2px solid #981d1d;
  border-radius: 10px;

  width: 60%;
  margin: 0 auto;
  min-height: unset;
}

.section__imlek_5 .card ol li {
  margin-bottom: 15px;
}

.isilaptop__imlek button{
  margin: 15px auto;
}

.flying{
  position:fixed;
  width:60px;
  height:60px;
  bottom:25px;
  right:25px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
  margin-top:16px;
  color:#FFF;
}

@media screen and (max-width: 1366px){
  .section__imlek_5 .card {
    padding: 5rem 25rem;
    min-height: 35px;
  }
}

@media screen and (max-width: 1280px){
  .section__imlek_1 img {
    width: 100%;
  }

  .section__imlek_2 .card {
    background: #F6E9BA;
    min-height: 275px;
  }
}

@media screen and (max-width: 1024px){
  .imlek h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.125px;
    color: #600000;
  }

  .imlek h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.8);
  }

  .imlek p {
    font-weight: normal;
    font-size: 14px;
    line-height: 250%;
    color: #000000;
  }

  .imlek button {
    background: #FFAA3A;
    border-radius: 10px 10px 10px 0px;

    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .section__imlek_2 .card {
    background: #F6E9BA;
    min-height: 225px;
  }

  .section__imlek_2 .card h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 76px;
    color: #BD201C;
  }

  .section__imlek_2 .card h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #600000;
  }

  .section__imlek_5 .card {
    padding: 1rem;
    min-height: unset;
    width: 100%
  }
}

@media screen and (max-width: 425px){
  .hero__imlek .mobile {
    display: block;
    width: 100%;
  }
  .hero__imlek .desktop {
    display: none;
  }

  .imlek h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.125px;
    color: #600000;
  }

  .imlek h6 {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 24px !important;
    color: rgba(0, 0, 0, 0.8);
  }

  .imlek p {
    font-weight: normal;
    font-size: 13px !important;
    line-height: 250%;
    color: #000000;
  }

  .imlek button {
    font-size: 13px;
    line-height: 20px;
  }

  .btn_container {
    text-align: center;
  }

  .section__imlek_1 img {
    margin-bottom: 25px;
  }

  .section__imlek_2 {
    margin-bottom: 25px;
  }

  .section__imlek_2 .card {
    margin-bottom: 75px;
    min-height: 200px;
  }

  .section__imlek_2 .card h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 76px;
    color: #BD201C;
  }

  .section__imlek_2 .card h5 {
    font-size: 18px !important;
    line-height: 24px !important;
    text-align: left !important;
  }

  .section__imlek_3 img {
    width: 60%
  }

  .section__imlek_4 .imlek__reg_google {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #E47700;

    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .section__imlek_4 .imlek__reg_csb {
    background: #BD201C;
    border: 3px solid #FF8500;
    border-radius: 10px 10px 10px 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width: 100%;
  }

  .section__imlek_5 .card {
    padding: 1rem;
    background: #f6e9ba;
    border: 2px solid #981d1d;
    border-radius: 10px;

    width: 100%;
    margin: 0 auto;
    min-height: unset;
  }
}
