.harianak__hero {
  background: hsla(44, 100%, 63%, 1);
  background: -webkit-linear-gradient(270deg, hsla(44, 100%, 63%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -o-linear-gradient(270deg, hsla(44, 100%, 63%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: linear-gradient(360deg, hsla(44, 100%, 63%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  padding-top: 100px;
  padding-bottom: 100px;
  /* border: 1px solid red; */
  margin-bottom: 50px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.harianak__hero .harianak__poster {
  width: 500px;
  position: relative;
  z-index: 3;
}

.top-cloud {
  position: absolute;
  top: 0;

  width: 70%;
  z-index: 2;
}

.bot-cloud {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.harianak__rule {
  text-align: center;
  margin: 50px auto;
}

.harianak__rule button {
  background: #27aef1;
  color: #fff;
  font-size: 14px;
  margin: 0 15px
}

.harianak__rule button:hover {
  color: #fff;
}


@media screen and (max-width: 425px) {
  .harianak__hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .harianak__hero .harianak__poster {
    width: 90%;
    position: relative;
    z-index: 3;
  }

  .top-cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
  }

  .bot-cloud {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .harianak__rule {
    text-align: center;
    margin: 15px auto;
  }

  .harianak__rule button {
    background: #1e8add;
    color: #fff;
    font-size: 14px;
    margin:15px
  }
}
