.lelang_heading {
    margin-bottom: 50px;
    text-align: center;
}

.lelang_heading h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #333333;
}

.lelang_heading h2 span {
    color: #ffaa3a;
}

.lelang_carousel_item {
    /* border: 1px solid red; */
    padding: 1rem;
}

.lelang_carousel_item {
    text-align: center;
}

.lelang_carousel_item .card-header {
    border: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.lelang_carousel_item img {
    width: 250px;
}

.lelang_carousel_item h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.lelang_carousel_arrow {
    border: transparent;
    background: #ffaa3a;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 5px;
}

.lelang_carousel_arrow i {
    color: #ffffff;
}

.lelang_desc_wrapper {
    margin: 50px auto;
    margin-bottom: 75px;
}

.lelang_desc h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #1b1d1f;
}

.lelang_desc h3 span {
    color: #ffaa3a;
}

.lelang_desc h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgba(27, 29, 31, 0.7);
}

.lelang_desc_img {
    text-align: right;
}

/* ============== */
.lelang_history_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lelang_history_header h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.lelang_history_header .quick-search {
    background: #ffffff;
    border-radius: 5px;
}

.lelang_history_item {
    padding: 1rem;
}

.lelang_history_item .card-header {
    border: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.lelang_history_item img {
    /* width: 250px; */

    width: 100%;
    min-height: 250px !important;
    object-fit: cover;
}

.lelang_history_item h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.lelang_history_summary {
    margin: 10px 0;
}

.lelang_history_summary span {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
}
.lelang_history_summary p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.lelang_history button.lelang_all {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}
/* ============== */

.lelang_cta {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.lelang_cta h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: #1b1d1f;
    margin-bottom: 25px;
}
.lelang_cta h1 span {
    color: #ffaa3a;
}

.lelang_cta h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(27, 29, 31, 0.5);
    width: 70%;
    margin: 15px auto;
}

.lelang_cta button {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.lelang_cta button:hover {
    color: #ffffff;
    background: #e89932;
}

.lelang_detail_col {
    /* border: 1px solid red; */
    padding: 2rem;
}

.lelang_detail_col.left {
    border-right: 1px solid rgba(27, 29, 31, 0.145);
}

.lelang_detail_col.left img {
    width: 100%;
}

.lelang_detail_col h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}
.lelang_detail_col h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(27, 29, 31, 0.5);
}

.lelang_detail_col h5 span {
    font-weight: 700;
    color: #000000;
}

.lelang_detail_col p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.lelang_detail_nav .nav-item .nav-link.active,
.lelang_detail_nav .nav-item .nav-link:hover {
    background: transparent !important;
}

.lelang_detail_winner {
    margin-top: 25px;
}

.lelang_detail_winner img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 10px;
}

.lelang_detail_winner h5 {
    margin-bottom: 10px;
    color: #000000;
    font-weight: 600;
}

.lelang_detail_winner .plex {
    display: flex;
    align-items: center;
}

.lelang_detail_winner .plex p {
    margin: 0;
}

.lelang_detail_table table thead {
    background: #f5f8fa;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.3);
}

.lelang_detail_table table tbody tr td.number {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.lelang_detail_table table tbody tr td.first {
    color: #ffaa3a;
}
.lelang_detail_table table tbody tr td.second {
    color: #9ea4a8;
}
.lelang_detail_table table tbody tr td.third {
    color: #cf7000;
}

.lelang_testimoni {
    margin: 100px auto;
}

.lelang_testimoni h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: #1b1d1f;
    text-align: center;
    margin-bottom: 50px;
}

.lelang_testimoni h1 span {
    color: #ffaa3a;
}

.slider__navigation {
    text-align: center;
    margin: 25px auto;
}

@media screen and (max-width: 1024px) {
    .lelang_heading h2 {
        font-size: 24px;
        line-height: 130%;
    }

    .lelang_carousel_item h5 {
        font-size: 16px;
        line-height: 20px;
    }

    .lelang_desc h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .lelang_desc h6 {
        font-size: 14px;
        line-height: 22px;
    }

    .lelang_history_header h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .lelang_cta h1 {
        font-size: 32px;
    }

    .lelang_cta h5 {
        font-size: 20px;
        line-height: 32px;
    }

    .lelang_cta button {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 768px) {
    .lelang_carousel_item .card {
        min-height: 300px;
    }
    .lelang_carousel_item img {
        width: 200px;
    }

    .lelang_desc h3 {
        font-size: 18px;
        line-height: 24px;
    }

    .lelang_desc h6 {
        font-size: 14px;
        line-height: 18px;
    }

    .lelang_desc_img {
        text-align: center;
        margin-top: 25px;
    }

    .lelang_cta h5 {
        font-size: 20px;
        line-height: 32px;
        width: 80%;
    }

    /* ============== */
    .lelang_history_item img {
        width: 150px;
    }

    .lelang_history_item h5 {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }
    .lelang_history_summary p {
        font-size: 14px;
        line-height: 18px;
    }
    /* ============== */

    .lelang_detail_col.left {
        text-align: center;
        border: transparent;
        padding: 0;
    }

    .lelang_detail_col.left img {
        width: 400px;
        align-self: center;
    }
}

@media screen and (max-width: 425px) {
    .lelang_heading h2 {
        font-size: 18px;
        line-height: 130%;
    }

    .lelang_carousel_item img {
        width: 150px;
    }

    .lelang_history_header h2 {
        font-size: 16px;
        line-height: 24px;
    }

    .lelang_history_header .quick-search {
        width: 175px;
    }

    .lelang_cta h1 {
        font-size: 24px;
    }

    .lelang_cta h5 {
        font-size: 16px;
        line-height: 22px;
        width: 100%;
    }

    .lelang_cta button {
        font-size: 14px;
        line-height: 24px;
    }

    /* ============== */
    .lelang_history_item img {
        width: 150px;
    }

    .lelang_history_item h5 {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }
    .lelang_history_summary p {
        font-size: 14px;
        line-height: 18px;
    }
    /* ============== */

    .lelang_detail_col h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .lelang_detail_col h5 {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: rgba(27, 29, 31, 0.5);
    }

    .lelang_detail_col p {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.5);
    }

    .lelang_detail_col.left img {
        width: 250px;
    }

    .lelang_testimoni h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: #1b1d1f;
        text-align: center;
    }
}
