.quiz__badge {
    background-color: #ed3444;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    border: 2px solid #ed3444;
    padding: 8px 24px;
    color: #ffffff;
}

.btn__yellow {
    background-color: #ffaa3a !important;
    color: #ffffff !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 18px !important;
}

.btn__yellow:hover {
    background-color: #f3a237 !important;
}

.check__quiz {
    display: none;
}

.ans__label .card-body {
    padding-left: 2rem !important;
}

.quiz__bunda .card {
    padding: 2rem;
    background: #ffffff;
    border-radius: 5px;
}

/* QUIZ */

.academy__progress {
    width: 40%;
    margin: 15px auto;
}

.academy__progress .progress-bar {
    background: #ffaa3a;
    border-radius: 0.25rem;
}

.academy__quiz {
    margin-top: 40px;
    text-align: center;
}

.academy__quiz span {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.16px;
    color: rgba(0, 0, 0, 0.9);
    opacity: 0.4;
    margin: 15px auto;
}

.academy__quiz h3 {
    margin-top: 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.9);
}

.academy__ans {
    text-align: left;
    width: 40%;
    margin: 25px auto;
}

.academy__ans .col-md-6 {
    margin-bottom: 15px;
}

.academy__ans .card-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

.academy__ans .card-body img {
    margin-left: 10px;
    width: 90%;
}

.academy__ans label {
    position: relative;
}

.card-input-element {
    /* display: none; */
    position: absolute;
    left: 3rem;
    bottom: 43%;

    z-index: 9;
}

.card-input {
    margin: 10px;
    background: #f7f5f5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
    background: #ffaa3a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
}

.academy__quiz_button button {
    background: #ffaa3a;
    border-radius: 8px;

    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    padding: 11px 25px;
}

.academy__quiz_button button:hover {
    color: #ffffff;
}

.academy__quiz_button button:disabled {
    cursor: not-allowed;
}

.text__black1_28 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    color: #181b1a;
}

.text__black1_24 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    color: #181b1a;
}

.text__black1_16 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #181b1a;
}

@media screen and (max-width: 1024px) {
    .academy__progress {
        width: 70%;
        margin: 15px auto;
    }

    .academy__ans {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .academy__progress {
        width: 90%;
        margin: 15px auto;
    }

    .academy__ans {
        width: 100%;
        margin: 15px auto;
    }

    .text__black1_28 {
        font-size: 18px;
        line-height: 24px;

        color: #181b1a;
    }

    .academy__quiz {
        margin-top: 25px;
        text-align: center;
    }

    .academy__quiz h3.text__black1_24 {
        font-size: 16px;
        line-height: 20px;

        color: #181b1a;
    }
}

.card-input.green {
    background: #00cc5d !important;
}

.card-input.red {
    background: #ed3444;
}

/* .modul_fail .card {
    width: 60%;
} */

.modul_fail .card h3 span {
    font-weight: 700;
    font-size: 42px;
    color: #ffaa3a;
}

.modul_fail .card h3 {
    margin-bottom: 15px;
}

.modul_fail .card img {
    margin-bottom: 25px;
}

.quiz_csb__logo {
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .quiz_csb__logo img {
        width: 100px;
    }
}
