.reseller__hero h1 {
    font-weight: bold;
    font-size: 54px;
    line-height: 76px;
    color: #ff8500;
}

.reseller__hero p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #4f4f4f;
}

.reseller__hero button {
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    padding: 10px 25px;
}

.reseller__bukti {
    margin: 25px auto;
}

.reseller__bukti h2,
.reseller__desc h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.reseller__hero h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.reseller__benefit h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.reseller__benefit h5,
.reseller__desc h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.reseller__benefit button {
    background: #ffaa3a;
    border-radius: 8px;

    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    padding: 15px 25px;

    color: #ffffff;
}

.reseller__benefit .card {
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 12px;
}

.reseller__form h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.reseller__form h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    opacity: 0.4;
}

.reseller__form .form-group {
    margin-bottom: 10px;
}

.reseller__form button {
    background: #ffaa3a;
    border-radius: 8px;

    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #ffffff;
    padding: 11px 25px;
}

.reseller__form button:hover {
    color: #ffffff;
}

.reseller__footer {
    margin: 100px auto;
}

.reseller__footer h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 125%;

    letter-spacing: 0.005em;
    color: #000000;
    margin-bottom: 20px;
}

.reseller__footer button {
    background: #1bd741;
    border-radius: 8px;

    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #ffffff;
    padding: 15px 25px;
}

.reseller__footer button:hover {
    color: #ffffff;
}

.carousel__item {
    background: white;
    box-shadow: -3px 3px 6px rgba(221, 221, 221, 0.2),
        3px -3px 6px rgba(221, 221, 221, 0.2),
        -3px -3px 6px rgba(255, 255, 255, 0.9),
        3px 3px 8px rgba(221, 221, 221, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3),
        inset -1px -1px 2px rgba(221, 221, 221, 0.5);
    border-radius: 25px;
    padding: 20px;
    margin: 10px 20px;
    overflow: hidden;
    height: 280px;
    width: 685px;
}

.carousel__item .img__carousel {
    width: 70%;
    margin: 2rem auto;
}

.img__carousel img {
    width: -webkit-fill-available;
}

.carousel_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #323232;
    margin: 0;
    margin-left: 1rem;
}

.carousel_desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;

    color: #000000;
}

.lelang_carousel_arrow {
    background: #fbaa3b;
    border-radius: 5px;
    color: white;
}

.slick__btn {
    margin: 10px auto;
    margin-top: 2rem;
}

.reseller__hero_orn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.carousel__item.row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.sign_hand {
    width: 30%;
}

.tabel__img {
    width: 70%;
    padding: 10px;
    background: #f5f5f5;
    box-shadow: -3px 3px 6px rgb(221 221 221 / 20%),
        3px -3px 6px rgb(221 221 221 / 20%),
        -3px -3px 6px rgb(255 255 255 / 90%), 3px 3px 8px rgb(221 221 221 / 90%),
        inset 1px 1px 2px rgb(255 255 255 / 30%),
        inset -1px -1px 2px rgb(221 221 221 / 50%);
    border-radius: 25px;
}

.reseller__form .left__img {
    display: none;
}

.reseller__form .right__img {
    display: block;
}

@media screen and (max-width: 768px) {
    .tabel__img {
        width: 100%;
    }

    .sign_hand {
        display: none;
    }

    .tabel__img:nth-of-type(2) {
        margin-top: 2rem;
    }

    .reseller__form .right__img {
        display: none;
    }

    .reseller__form .left__img {
        display: block;
    }

    .reseller__form {
        text-align: center;
    }

    h2,
    h5 {
        text-align: center;
    }

    .reseller__benefit .d-flex {
        justify-content: center;
    }

    .reseller__benefit .btn__hero {
        margin: 2rem auto;
    }

    .reseller__footer * {
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .reseller__hero h1 {
        font-size: 32px;
        line-height: 36px;
    }

    .reseller__hero p {
        font-size: 14px;
    }

    .reseller__hero_orn {
        top: 15rem;
        width: 60%;
    }

    .reseller__hero_banner {
        width: 50%;
        position: absolute;
        right: 0;
        top: -12rem;
    }

    .btn__hero {
        margin-top: 6rem;
        padding: 4px 20px !important;
        font-size: 16px !important;
    }

    .section-content:nth-of-type(1) {
        padding-bottom: 6rem;
    }

    .reseller__bukti h2 {
        font-size: 24px;
    }

    .carousel__item {
        width: 95vw;
        height: auto;
    }

    .index__img {
        width: 64px !important;
        height: 64px !important;
    }

    h2 {
        font-size: 24px!important;
        line-height: 36px!important;

        text-align: center;
    }

    .reseller__benefit .btn__hero {
        padding: 8px 20px !important;
        font-size: 16px !important;
    }

    .reseller__benefit .card-body {
        text-align: center;
    }

    h5,
    h6 {
        font-size: 14px !important;
        text-align: center;
    }

    .reseller__form .form_daftar {
        margin-top: 2rem;
    }

    .reseller__form .form_daftar .d-flex {
        justify-content: center !important;
    }

    .reseller__form img {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .slick-slide img.index__img {
        width: 64px !important;
        height: 64px !important;
    }
}
