.cardz-slider {
    overflow: hidden;
}

.swiper-slide {
    width: calc(100% / 3);
    transition: all 0.25s ease-out;
    opacity: 1;
    padding: 0.5rem 0;
}

.swiper-slide-active + .swiper-slide ~ .swiper-slide {
    opacity: 0.35;
}

.swiper-slide img,
.swiper-slide video {
    max-width: 100%;
    transition: all 0.25s ease-out;
    transform: scale(0.75);
    transform-origin: center;
    border-radius: 10px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, #000000 100%);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.swiper-slide-active img,
.swiper-slide-active video {
    transform: scale(1);
}

.swiper-slide-active .white-semi-32 {
    font-size: 32px;
}

.swiper-slide-active .white-normal-14 {
    font-size: 14px;
}

.swiper-slide .custom-cardz-body {
    display: none;
}

.swiper-slide-active .custom-cardz-body {
    display: block;
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    height: 14rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.005) 0%, #000000 100%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media screen and (max-width: 460px) {
    .slick-slide img {
        width: 200px !important;
    }

    .swiper-slide-active .white-semi-32 {
        font-size: 24px;
    }

    .swiper-slide-active .white-normal-14 {
        font-size: 10px;
    }
}
