@import "./lelang.css";
@import "./universe.css";
@import "./faq.css";
@import "./17an.css";
@import "./reseller.css";
@import "./99.css";
@import "./event.css";
@import "./disclaimer.css";
@import "./harbolnas.css";

/*** Custom CSS for Landing Page Here ***/
body {
    background-color: #f5f8fa;
    background-image: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.pass-text {
    color: #ffaa3a;
    font-weight: bold;
}

.pass-text:hover {
    color: #cb9043;
}

/* ====================================== FONT ====================================== */

.white-normal-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

.white-normal-20 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: white;
}

.white-semi-20 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: white;
}

.white-semi-32 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #ffffff;
}

.black-normal-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.75) !important;
}

.black-normal-15 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;

    color: #1b1d1f;
}

.black-normal-16 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: black !important;
}

.black-normal-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(27, 29, 31, 0.75) !important;
}

.black-normal-22 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: black !important;
}

.black-semi-32 {
    font-family: Poppins;
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;

    color: black;
}

.black70-normal-24 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    color: black !important;
}

.black75-normal-18 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(27, 29, 31, 0.75);
}

.black-normal-48 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;

    color: #1b1d1f;
}

.black-semi-20 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;

    color: #1b1d1f;
}

.black-semi-36 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
    color: black !important;
}

.black-bold-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    color: black !important;
}

.black-bold-22 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: black !important;
}

.black-bold-24 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: black !important;
}

.black-bold-32 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: black !important;
}

.black-bold-36 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 72px;
    text-transform: capitalize;
    color: black !important;
}

.black-bold-48 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-transform: capitalize;
    color: black !important;
}

.custom-btn-blue {
    background: #009ef7;
    border: none;
    border-radius: 10px 10px 10px 0px;
    transition: color 0.5s ease, background-color 0.5s ease,
        border-color 0.5s ease, box-shadow 0.5s ease,
        -webkit-box-shadow 0.5s ease;
}

.custom-btn-blue:hover {
    background: #007ef7;
}

.custom-btn-primary-rounded {
    width: 100px;
    background: #ffaa3a;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px 10px 10px 10px;
    transition: color 0.5s ease, background-color 0.5s ease,
        border-color 0.5s ease, box-shadow 0.5s ease,
        -webkit-box-shadow 0.5s ease;
}

.custom-btn-primary-rounded:hover {
    background: #eca13f !important;
    color: white;
}

.omaru-btn {
    padding: 0 15px;
    height: 45px;
    border: solid 1px #ffaa3a;
    color: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    align-items: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.omaru-btn:hover {
    background: #ffaa3a;
    color: #ffffff;
}

.custom-btn-primary {
    padding: 0 25px;
    height: 45px;
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    align-items: center;
    display: flex;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.custom-btn-primary-outline {
    background: #fead4255;
    border: solid 1px #ffaa3a;
    color: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.custom-btn-primary-outline:hover {
    background: #fead4273;
    color: #ff9f22;
}

.custom-btn-primary:hover {
    color: #ffffff;
    background: #e99b35;
}

/* ====================================== NAVBAR ====================================== */

#kt_header_menu {
    display: flex;
    align-items: center;
}

.custom-navbar-button {
    align-items: center;
    display: flex;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 0px;
    width: 125px;
    padding: 10px;

    font-weight: 500;
    font-size: 14px;
    color: #ffffff;

    background: #e52c2c;
}

.logout-button:hover {
    color: white;
    background: #d62929;
}

/* ====================================== FOOTER ====================================== */

.custom-footer {
    background: #ffaa3a;
    padding: 4rem 0;
}

.footer-image {
    margin-bottom: 32px;
}

.footer-copyright {
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.socmed-footer {
    margin-top: 32px;
}

.socmed-footer ul {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
}

.list-nav-footer {
    list-style: none;
}

.list-nav-footer li a {
    color: white;
}

.list-nav-footer li a:hover {
    color: white;
}

#kt_header .header .header-logo {
    display: block !important;
}

.nav-link:hover {
    background-color: #ffaa3a !important;
}

.nav-link.active {
    background-color: #ffaa3a !important;
}

.elm-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
    align-items: center;
}

#loading-section {
    transition: visibility 0.5s, opacity 0.5s linear;
    background: url("/images/watercolor-bg.png");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    visibility: visible;
    opacity: 1;
}

.loading-body {
    align-items: center;
    margin-top: 12rem;
    margin-bottom: 15rem;
}

.progress {
    width: 100%;
}

#percentage {
    margin-bottom: 0;
    width: 5rem;
}

#header-desktop {
    display: flex;
}

.home-header {
    width: 100%;
    height: 90vh;
    background: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url("../images/bg-new.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /* padding-top: 32px; */

    /* padding: 10rem 0; */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header .btn-warning {
    margin-top: 24px;
}

.little-box-header {
    position: absolute;
    padding: 0.5rem;
    height: 175px;
    bottom: 0;
    right: 30rem;
    align-content: center;
    display: grid;

    background: #ffffff;
    border-radius: 20px 20px 0px 0px;
    z-index: 3;
}

.baper_hero {
    position: absolute;
    bottom: 0;
    right: 5rem;
    z-index: 1;
}

@media screen and (max-width: 1440px) {
    .baper_hero {
        width: 500px;
    }
}

@media screen and (max-width: 1366px) {
    .baper_hero {
        width: 400px;
    }

    .little-box-header {
        position: absolute;
        width: 125px;
        height: 145px;
        bottom: 0;
        right: 22rem;
        align-content: center;
        display: grid;

        background: #ffffff;
        border-radius: 20px 20px 0px 0px;
        z-index: 3;
    }
}

@media screen and (max-width: 768px) {
    .baper_hero {
        width: 350px;
        right: 3rem;
    }

    .little-box-header {
        position: absolute;
        width: 100px;
        height: 125px;
        bottom: 0;
        right: 19rem;
        align-content: center;
        display: grid;

        background: #ffffff;
        border-radius: 20px 20px 0px 0px;
        z-index: 3;
    }
}

@media screen and (max-width: 574px) {
    .baper_hero {
        width: 150px;
        right: 1rem;
    }

    .little-box-header {
        display: none;
    }
}

.header-ornament {
    position: absolute;
    top: 6.5rem;
}

.header-right {
    display: flex;
    justify-content: flex-end;
}

.big-text-header {
    margin-top: 100px;
}

.subtitle-text-header,
.home-header button {
    margin-top: 24px;
}

.section-content {
    margin-top: 5rem;
}

.section-content .row {
    align-items: center;
}

.section-content .list-user .custom-card {
    margin-bottom: 2rem;
}

.section-content .list-item img,
.section-content .list-user img {
    width: 200px;
}

.section-content .list-item img {
    width: 250px;
}

.section-content .custom-card .black-semi-36 {
    font-size: 28px;
}

.section-content .user {
    justify-content: center;
}

.list-item .custom-card,
.list-user .custom-card {
    background-color: white;
    border-radius: 10px;
    position: relative;
    margin-top: 8rem;
    padding: 0;
    width: 425px;
    height: 324px;
    border: none;

    transition: all 0.1s;
}

.list-item .custom-card {
    height: 325px;
    margin-bottom: 1rem;
}

.list-item .custom-card:hover {
    transition: all 0.1s;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
}

.list-user .custom-card:hover {
    transition: all 0.2s;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
}

.list-item .custom-card .townhall {
    top: -10rem;
}

.list-item .custom-card:hover .townhall {
    top: -10.5rem !important;
    transition: all 0.2s;
}

.list-item .custom-card .lapak {
    top: -6rem;
}

.list-item .custom-card:hover .lapak {
    top: -6.5rem !important;
    transition: all 0.2s;
}

.section-content .list-item img.baba {
    width: 215px;
}

.list-item .custom-card .baba {
    top: -7.5rem;
}

.list-item .custom-card:hover .baba {
    top: -8rem !important;
    transition: all 0.2s;
}

.list-item .custom-card img {
    transition: all 0.2s;
}

.list-item .custom-card:hover img {
    top: -8rem !important;
    transition: all 0.2s;
}

.list-item .custom-card img {
    position: absolute;
    margin: auto;
    left: 0;
    top: -7.5rem;
    right: 0;
}

.list-user .custom-card img {
    transition: all 0.2s;
}

.list-user .custom-card:hover img {
    top: -8.5rem;
    transition: all 0.2s;
}

.list-user .custom-card:hover .boleng {
    top: -5.5rem !important;
    transition: all 0.2s;
}

.list-user .custom-card .boleng {
    top: -5rem;
    width: 220px;
}

.list-user .custom-card img {
    position: absolute;
    margin: auto;
    left: 0;
    top: -8rem;
    right: 0;
}

.custom-card .custom-card-body {
    position: absolute;
    top: 10rem;
    padding: 0 0.5rem;
}

.section-auth {
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-sign.png");
    background-size: cover;
    display: flex;
    align-items: center;
}

.section-auth .form-auth {
    width: 42rem;
}

.section-auth .forgot-pass-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;

    color: #b5b5c3;
}

.section-auth .black-normal-15 {
    margin-top: 32px;
}

.section-auth .forgot-pass-text:hover {
    color: #a0a0aa;
}

.section-auth .checkbox > input:checked ~ span {
    background-color: #009ef7 !important;
}

.section-auth .form-logo {
    margin-bottom: 24px;
}

.section-auth .black-bold-32 {
    margin-bottom: 10px;
}

.section-auth .black-normal-18 {
    margin-bottom: 32px;
}

.section-auth .form-button {
    margin-top: 48px;
}

.btn-blue-auth {
    width: 7rem;
    height: 3rem;
    background: #009ef7;
    border: none;
    border-radius: 10px;
    transition: color 0.5s ease, background-color 0.5s ease,
        border-color 0.5s ease, box-shadow 0.5s ease,
        -webkit-box-shadow 0.5s ease;
    color: white;
}

.btn-blue-auth:hover {
    background: #007ef7;
    color: white;
}

.btn-outline-blue-auth {
    width: 7rem;
    height: 3rem;
    background: rgba(0, 158, 247, 0.08);
    border: solid 1px #009ef7;
    color: #009ef7 !important;
    border-radius: 10px;
    transition: color 0.5s ease, background-color 0.5s ease,
        border-color 0.5s ease, box-shadow 0.5s ease,
        -webkit-box-shadow 0.5s ease;
    color: white;
}

.btn-outline-blue-auth:hover {
    background: rgba(0, 156, 247, 0.238);
    color: white;
}

.section-auth .input-text-error {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;

    text-align: left;
    display: none;

    color: #f1416c;
}

#kt_header .align-items-stretch .list-hidden-nav {
    display: none !important;
}

[class^="number-slide"],
[class*=" number-slide"] {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    max-height: 100vh;
    border-radius: 10px;
    padding: 12px 28px;
}

.slick-prev {
    left: -1.5rem !important;
}

.list-user .custom-card {
    margin-top: 6rem;
}

.avatar-login {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.swal2-confirm.swal2-styled {
    background-color: #ffaa3a;
    padding: 0.8rem 3rem;
    font-size: 16px !important;
    font-weight: bold;
    border-radius: 10px;
}

@media screen and (min-width: 1200px) {
    .list-user .custom-card {
        height: 320px;
    }
}

@media screen and (min-width: 768px) {
    .list-user .custom-card {
        height: 320px;
    }

    .list-user {
        margin-top: 1.5rem;
    }

    .custom-accordion {
        padding: 0 12rem;
    }
}

@media screen and (max-width: 1399px) {
    .home-header .header-right .little-box-header {
        left: 4rem;
    }
}

@media screen and (max-width: 1280px) {
    /* .home-header {
        background: linear-gradient(
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("../images/bg-landing-1280.png");
        background-repeat: round;
        background-size: cover;
    } */

    .custom-card-body {
        padding-top: 1rem !important;
    }
}

@media screen and (max-width: 1199px) {
    .home-header .header-right img {
        height: 40rem;
    }

    .home-header .header-right .little-box-header {
        bottom: 1rem;
    }

    .list-item .custom-card .custom-card-body {
        position: absolute;
        top: 10rem;
    }

    .list-user .custom-card {
        height: 350px;
    }
}

@media screen and (max-width: 1024px) {
    /* .home-header {
        background: linear-gradient(
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("../images/bg-landing-1024.png");
        background-repeat: round;
        background-size: cover;
    } */
}

@media screen and (max-width: 991px) {
    #kt_header #kt_header_menu {
        display: block;
    }

    #kt_header_mobile #kt_header_mobile_toggle {
        display: contents;
    }

    #kt_header .align-items-stretch #custom-nav-btn {
        display: none;
    }

    #kt_header .align-items-stretch #custom-navbar li {
        margin: 1rem auto;
    }

    #kt_header .align-items-stretch #custom-navbar li .nav-link {
        width: 100%;
    }

    #kt_header .align-items-stretch .list-hidden-nav {
        display: flex !important;
    }

    #kt_header .align-items-stretch #custom-navbar {
        display: block;
        padding: 0 1rem;
        margin-top: 2rem;
    }

    .list-item .custom-card .custom-card-body {
        top: 12rem;
    }
}

@media screen and (max-width: 916px) {
    .home-header .header-right .little-box-header {
        bottom: 4rem;
    }
}

@media screen and (max-width: 880px) {
    .home-header .header-right .little-box-header {
        left: 1rem;
    }
}

@media screen and (max-width: 823px) {
    .home-header .header-right .little-box-header {
        bottom: 8rem;
        left: -2rem;
    }
}

@media screen and (max-width: 792px) {
    .home-header .header-right .little-box-header {
        bottom: 10rem;
        left: 1rem;
    }

    .home-header .header-right img {
        height: 35rem;
    }

    .home-header .header-right .little-box-header {
        width: 120px;
        height: 155px;
    }

    .home-header .header-right .little-box-header .black-bold-48 {
        font-size: 36px;
    }

    .home-header .header-right .little-box-header .black-normal-16 {
        font-size: 14px;
    }

    .home-header .black-bold-48 {
        font-size: 24px;
        line-height: 32px;
        color: black !important;
    }
}

@media screen and (max-width: 768px) {
    .list-user .custom-card {
        height: 320px;
    }

    .list-item .custom-card {
        height: 300px;
    }

    .custom-card-body {
        padding-top: 0 !important;
    }

    .section-auth .form-auth {
        width: 32rem;
    }

    .home-header .header-right {
        display: none;
    }

    /* .home-header {
        background: linear-gradient(
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("../images/bg-landing-768.png");
        background-repeat: round;
        background-size: cover;
    } */

    .black-bold-36 {
        font-size: 26px;
        line-height: 36px;
    }

    .black75-normal-18 {
        font-size: 14px;
        line-height: 21px;
    }

    .black-normal-48 {
        font-size: 26px;
        line-height: 36px;
    }

    .white-semi-32 {
        font-size: 20px;
        line-height: 27px;
    }

    .white-normal-14 {
        font-size: 12px;
        line-height: 18px;
    }

    .black-normal-22 {
        font-size: 14px;
        line-height: 18px;
    }

    .black-normal-14 {
        font-size: 12px;
        line-height: 18px;
    }

    .black-semi-36 {
        font-size: 20px !important;
        line-height: 27px;
    }

    .black-normal-14 {
        font-size: 12px;
        line-height: 18px;
    }

    .black-bold-32 {
        font-size: 26px;
        line-height: 36px;
    }

    .col-sm-6 .black-normal-22 {
        margin-top: 1rem;
    }

    .list-nav-footer {
        padding: 0;
    }

    .section-content .list-user img {
        top: -6rem;
        width: 150px;
    }

    .section-content .list-user:hover img {
        top: -6.5rem;
    }

    .section-content .list-user .custom-card {
        width: 250px;
    }
}

@media screen and (max-width: 580px) {
    .list-user .custom-card .boleng {
        top: -2rem !important;
        width: 150px;
    }
    .list-user .custom-card:hover .boleng {
        top: -2.5rem !important;
    }
}

@media screen and (max-width: 460px) {
    .section-auth .form-auth {
        width: 26rem;
    }

    .section-content .list-user .custom-card img {
        width: 150px;
    }

    .list-user .custom-card {
        height: 360px;
    }
}

@media screen and (max-width: 425px) {
    /* .home-header {
        background: linear-gradient(
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("../images/bg-landing-425.png");
        background-repeat: round;
        background-size: cover;
    } */

    .home-header {
        align-items: flex-start;
    }

    .section-content .list-user .custom-card img {
        width: 120px !important;
        top: -2rem;
    }

    .section-content .list-user .custom-card:hover img {
        top: -2.5rem !important;
    }

    .section-content .list-user .custom-card .boleng {
        top: 0rem !important;
    }

    .section-content .list-user .custom-card:hover .boleng {
        top: -0.5rem !important;
    }
}

@media screen and (max-width: 400px) {
    .section-auth .form-auth {
        width: 26rem;
    }
}

@media screen and (max-width: 375px) {
    /* .home-header {
        background: linear-gradient(
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("../images/bg-landing-360.png");
        background-repeat: round;
        background-size: cover;
    } */

    .list-user .custom-card {
        height: 390px;
    }
}

/* ********************* LANDING PAGE ********************* */

.landing-header {
    width: 100%;
    /* height: 100vh; */
    background: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url("../images/bg-new.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    padding: 175px 0;
}

.landing-header .btn-warning {
    margin-top: 25px;
    width: 250px;
}

.landing-header span {
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgba(27, 29, 31, 0.5);
}

.landing-header h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #1b1d1f;
}

.landing-header h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(27, 29, 31, 0.75);
}

.landing-header-left {
    order: 1;
}
.landing-header-right {
    text-align: center;
    order: 2;
}

.landing_wrapper {
    margin: 50px auto;
}

.landing_jadwal h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #1b1d1f;
    margin-bottom: 50px;
}

.landing_jadwal h2 span {
    color: #ffaa3a;
}

.landing_jadwal h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: rgba(27, 29, 31, 0.5);
}

.landing-jadwal-card .card {
    border: 2px solid rgba(255, 170, 58, 0.7);
    border-radius: 8px;
    min-height: 275px;
}

.landing-jadwal-card .card .card-header {
    background: rgba(255, 170, 58, 0.172);
    padding: 1rem;
}

.landing-jadwal-card .card .card-title {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start !important;
}

.landing-jadwal-card .card h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: #1b1b1b;
    opacity: 0.88;
    margin: 0;
    text-align: left;
}

.landing-jadwal-card .card h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #ffaa3a;
    opacity: 0.88;
    margin-top: 5px;
}

.landing_heading h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #1b1d1f;
}

.landing_heading h2 span {
    color: #ffaa3a;
}

.landing_heading h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: rgba(27, 29, 31, 0.5);
    width: 50%;
    margin: 0 auto;
}

.landing_jadwal .zoom_btn {
    background: #2d8cff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    margin-top: 25px;
}

.landing_jadwal .zoom_btn i {
    color: #ffffff !important;
}

.dropship_join {
    margin-top: 25px;
}

.dropship_join img {
    width: 100%;
}

.dropship_join_num {
    /* width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffaa3a;

    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff; */

    margin-right: 25px;
}

.dropship_join_text {
    margin: 25px auto;

    display: flex;
    align-items: baseline;
}

.dropship_join_text h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1b1d1f;
}

.dropship_join_text h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(27, 29, 31, 0.7);
}

.dropship_wgm h2 {
    text-align: left;
}
.dropship_wgm h4 {
    width: 100%;
    text-align: left;
}

.dropship_wgm form {
    margin-top: 50px;
}

.dropship_wgm button {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    width: 250px;
}

.dropship_wgm button:hover {
    color: #ffffff;
    background: #ffaa3a;
}

.dropship_benefit .card {
    min-height: 275px;
}

.dropship_benefit .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.dropship_benefit img {
    margin-bottom: 15px;
}

.dropship_benefit p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1b1d1f;
    min-height: 75px !important;
}

.dropship_benefit span {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: rgba(27, 29, 31, 0.5);
    margin-top: 15px;
}

.join_btn {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    width: 250px;
    margin-top: 25px;
}

.join_btn:hover {
    color: #ffffff;
}

.landing-jadwal-card button {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    margin-top: 25px;
}

.landing-jadwal-card button.expired {
    background: rgba(27, 29, 31, 0.3);
}

.landing-jadwal-card button:hover {
    color: #ffffff;
}

.landing-jadwal-card button:disabled {
    cursor: not-allowed;
}

.accordion.accordion-svg-toggle .card .card-header .card-title .svg-icon svg {
    transform: rotate(0deg);
}

.accordion.accordion-svg-toggle
    .card
    .card-header
    .card-title.collapsed
    .svg-icon
    svg {
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
    .landing-header-left {
        order: 2;
    }
    .landing-header-right {
        order: 1;
    }
}

@media screen and (max-width: 425px) {
    .landing-header {
        background: linear-gradient(
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("../images/landing-page/bg-mobile.png");
        background-position: center;
        background-size: cover;
        object-fit: cover;
        padding: 25px 0;
    }

    .landing-header-right img {
        width: 250px;
        margin-bottom: 50px;
    }

    .landing_jadwal h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .landing-jadwal-card .card {
        min-height: 225px;
    }

    .landing-jadwal-card .card h3 {
        font-size: 12px;
        line-height: 18px;
    }

    .landing-jadwal-card .card h5 {
        font-size: 10px;
        line-height: 12px;
        color: #ffaa3a;
        opacity: 0.88;
        margin-top: 5px;
    }

    .landing-jadwal-card button {
        background: #ffaa3a;
        border-radius: 10px 10px 10px 0px;

        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        color: #ffffff;
        margin-top: 15px;
        width: 100%;
    }

    .landing_heading h2 {
        font-size: 24px;
        line-height: 120%;
    }

    .landing_heading h4 {
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }
}

.footer_tele {
    margin: 15px auto;
}

.footer_tele button {
    background: #009ef7;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.footer_tele button:hover {
    color: #ffffff;
    background: #028cdc;
}

.footer_tele button img {
    margin-right: 5px;
    margin-top: -3px;
}

@media screen and (max-width: 425px) {
    .white-semi-20 {
        font-size: 16px;
        line-height: 24px;
    }

    .white-normal-20 {
        font-size: 12px;
        line-height: 16px;
    }

    .footer_tele button {
        font-size: 14px;
        line-height: 18px;
    }

    .footer-copyright {
        margin-top: 3rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 425px) {
    .custom-btn-primary {
        width: 100% !important;
        font-size: 14px;
        line-height: 24px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-btn-primary-outline {
        font-size: 14px;
        line-height: 24px;
        width: 100%;
    }

    .omaru-btn {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
    }

    .logout-button {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
    }

    .custom-navbar-button {
        width: 100%;
    }
}

.login_with_google button {
    background: #ffffff;
    border: 3px solid #4285f4;
    box-sizing: border-box;
    border-radius: 10px;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #4285f4;

    padding: 15px 25px;

    margin: 15px auto;
}

.login_with_google button img {
    margin-top: -3px;
    margin-right: 15px;
}

@media screen and (max-width: 425px) {
    .login_with_google button {
        background: #ffffff;
        border: 3px solid #4285f4;
        box-sizing: border-box;
        border-radius: 10px;

        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        color: #4285f4;

        padding: 10px 20px;

        margin: 15px auto;
    }

    .login_with_google button img {
        margin-top: -3px;
        margin-right: 15px;
    }
}

.livenow button {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.livenow button:hover {
    background: #f1a137;
    color: #ffffff;
}

.live-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f1416c;
    margin-right: 10px;
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.faq-header {
    width: 100%;
    height: 300px;
    background: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url("../images/faq-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /* padding-top: 32px; */

    /* padding: 10rem 0; */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
