.universe_img {
    /* border: 1px solid red; */
    position: relative;
}

.universe_hero .universe_img img {
    margin-left: -25px;
}

.universe_hero_txt {
    padding-top: 250px;
    padding-right: 10rem;
    text-align: right;
}

.universe_hero_txt h1 {
    font-weight: 600;
    font-size: 80px;
    line-height: 88px;

    color: #ffaa3a;
    margin-bottom: 25px;
}

.universe_hero_txt h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #ffaa3a;
    margin-bottom: 25px;
}

.universe_hero_txt h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    width: 70%;
    margin-left: auto;

    color: rgba(51, 51, 51, 0.75);
    margin-bottom: 15px;
}

.universe_hero_txt button {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 50px;
}

.universe_hero_txt button:hover {
    background: #e99b34;
    color: #ffffff;
}

.universe_content_txt {
    padding-left: 8rem;
    order: 1;
}

.universe_content_img {
    order: 2;
}

.universe_content_img img {
    margin-right: -25px;
}

.universe_content_txt h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #ffaa3a;
    margin-bottom: 15px;
}

.universe_content_txt h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #f1416c;
    margin-bottom: 25px;
}

.universe_content_txt h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: rgba(27, 29, 31, 0.7);
}

.universe_town_section {
    margin-top: -350px !important;
}

.universe_footer {
    text-align: center;
}

.universe_footer {
    margin-bottom: 75px;
}

.universe_footer h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #ffaa3a;
    margin-bottom: 25px;
}

.universe_footer button {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.universe_footer button:hover {
    color: #ffffff;
    background: #e79a35;
}

@media screen and (max-width: 1366px) {
    .universe_hero .universe_img img {
        margin-left: -100px;
        width: 700px;
    }

    .universe_hero_txt {
        padding-top: 150px;
        padding-right: 10rem;
    }

    .universe_hero_txt h5 {
        width: 100%;
    }

    .universe_content_txt {
        padding-left: 5rem;
    }

    .universe_content_img img {
        margin-right: -75px;
    }
}

/* =============================================== */

@media screen and (max-width: 1280px) {
    .universe_hero_txt {
        padding-top: 150px;
        padding-right: 6rem;
    }
}

/* =============================================== */

@media screen and (max-width: 1024px) {
    .universe_hero .universe_img img {
        margin-left: -100px;
        width: 600px;
    }

    .universe_hero_txt {
        padding-top: 150px;
        padding-right: 4rem;
    }

    .universe_content_txt {
        padding-left: 3rem;
    }

    .universe_content_txt h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 15px;
    }

    .universe_content_txt h3 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 25px;
    }

    .universe_content_txt h5 {
        font-size: 18px;
        line-height: 24px;
    }

    .universe_content_img img {
        margin-right: 0;
        width: 500px;
    }

    .universe_town_section {
        margin-top: -250px !important;
    }
}

/* =============================================== */

@media screen and (max-width: 991px) {
    .universe_hero .universe_img img {
        margin-left: -100px;
        width: 700px;
    }

    .universe_hero_txt {
        text-align: center !important;
        padding: 1rem;
        margin-top: -75px;
    }

    .universe_content_txt {
        order: 2;
        text-align: center;
        margin-bottom: 50px;
        padding: 1rem;
    }

    .universe_content_img {
        order: 1;
    }

    .universe_content_img img {
        margin-right: -25px;
        width: 800px;
    }

    .universe_town_section {
        margin-top: -100px !important;
    }
}

/* =============================================== */

@media screen and (max-width: 768px) {
    .universe_hero .universe_img img {
        margin-left: -100px;
        width: 600px;
    }

    .universe_content_img img {
        margin-right: -25px;
        width: 600px;
    }

    .universe_footer h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .universe_footer button {
        font-size: 18px;
        line-height: 24px;
    }
}

/* =============================================== */

@media screen and (max-width: 425px) {
    .universe_hero .universe_img img {
        margin-left: -25px;
        width: 300px;
    }

    .universe_hero_txt h1 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 5px;
    }

    .universe_hero_txt h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 5px;
    }

    .universe_hero_txt h5 {
        font-size: 14px;
        line-height: 18px;
        /* width: 100%; */
        margin-bottom: 15px;
    }

    .universe_hero_txt button {
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
    }

    .universe_content_img img {
        margin-right: -25px;
        width: 400px;
    }

    .universe_content_txt h2 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 15px;
    }

    .universe_content_txt h3 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .universe_content_txt h5 {
        font-size: 14px;
        line-height: 18px;
    }

    .universe_town_section {
        margin-top: -50px !important;
    }

    .universe_footer h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .universe_footer button {
        font-size: 16px;
        line-height: 18px;
    }
}

/* =============================================== */
