body{
    background-color: white;
}

#paralax{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.par__img{
    position: absolute;
    width: 100%;
    /* bottom:50% */
}

#par_img3{
    height: 100%;
}

.title_inner_shadow{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;

    align-items: center;
    text-align: center;
    color: transparent;
    background-color: rgba(0, 0, 0, 0.55);
    text-shadow: 0px 1px 3px rgba(255, 170, 58);
    -webkit-background-clip: text;
        -moz-background-clip: text;
            background-clip: text;
}

#body_img1{
    background: url(../images/paralax3.png);
    background-repeat: no-repeat;
    background-position: center;

}
#body_img2{
    background: url(../images/paralax2.png);
    background-repeat: no-repeat;
    background-position: center;

}
#body_img3{
    background: url(../images/paralax1.png);
    background-repeat: no-repeat;
    background-position: center;

}

.csb__carousel{
    width: 100%;
    height: 100vh;
    background: linear-gradient(270deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(../images/bg-new.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /* padding-top: 32px; */
    /* padding: 10rem 0; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel__img{
    position: absolute;
    top: 0;
    right: 0;
    height: 80vh;
}

.side__left_carousel{
    width: 40%;
    position: absolute;
    left: 15%;
    top: 20%;
    padding: 20px;
}

.primary_text_normal_18{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FE8B00;
}

.primary_text_normal_48{
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;

    color: #FFAA3A;
}

.primary_text_normal_64{
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 96px;

    color: #FFAA3A;
}

.primary_text_bold_64{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;

    color: #FFAA3A;
}

.d_purple_text_normal_24{
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #412C60;
}

.d_purple_text_bold_24{
    font-weight: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #412C60;
}

.d_blue_normal_18{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #002688;
}

.black60_text_normal_18{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;

    color: #000000;
    opacity: 0.6;
}

.button_primary{
    width: fit-content;
    padding: 10px 25px;
    background: #ffaa3a;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    border-radius: 10px;
}

.click__area{
    animation: blinker 1s linear infinite;
}

.click__area:hover{
    animation: none;
    opacity: 1;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.card__v2 img{
    border-radius: 34px;
}

.lelang__box{
    width: 100vw;
}

.lelang_carousel {
    position: initial;
    overflow: hidden;
}

.slick-list {
    overflow: visible;/*important, allows overflow slides to be visible*/
}

.dots__box {
    position: relative;
}

.slick-dotted.slick-slider{
    margin: 0;
}

.slick-dots li button:before{
    background-color: #ffaa3a;
    border-radius: 50%;
    content: '';
}

.slick-list .card{
    width: fit-content;
    border-radius: 20px;
    transform: scale(0.9);
}

.slick-current > .card{
    transform: scale(1);
    border: 3px solid #ffaa3a;
    border-radius: 26px;
}

.explain__box{
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
    width: 842px;
    border-radius: 20px;
}

.title_inner_shadow_24{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    align-items: center;
    text-align: center;
    color: transparent;
    background-color: rgba(0, 0, 0, 0.55);
    text-shadow: 0px 1px 3px rgba(255, 170, 58);
    -webkit-background-clip: text;
        -moz-background-clip: text;
            background-clip: text;
}

.join__zoom{
    width: 100%;
    height: 110vh;
    position: relative;
    overflow: hidden;
    /* background: url(../images/bg-join-zoom.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    object-fit: cover; */
}

.bg__zoom{
    position: absolute;
    left: -10%;
    top: 0;
    z-index: -9;
}

.white_text_normal_48{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;

    color: #FFFFFF;
}

.white_text_500_18{
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;

    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.white_text_500_22{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.primary_text_bold_18{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #FFAA3A;
}

.card__soft{
    width: 171px;
    padding: 10px;

    background: #FFFFFF;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.card__soft img{
    margin-top: 20px;
}

.outline_btn_prim{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px 30px;
    color: white;
}

.outline_btn_prim:hover{
    color: white;
    background-color: #f39b28;
}

section.tips{
    width: 100%;
    /* background: url(../images/bg-coin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover; */
    position: relative;
}

section.tips a{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.white_text_600_42{
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    text-transform: uppercase;

    color: #FFFFFF;
}

section.qr-code{
    background-color: #FFAA3A;
    padding: 2rem 0;
}

section.qr-code .text-box{
    margin-left: 2rem;
    margin-top:3rem;
}

.primary_text_bold_42{
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;

    color: #FFAA3A;
}

.black_text_normal_18{
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.02em;

    color: #3C3C3C;
}

.button_primary_outline{
    width: fit-content;
    padding: 10px 25px;
    color: #ffaa3a;
    align-items: center;
    border: 2px solid #ffaa3a;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background-color: #ffffff;
    border-radius: 10px;
}

.button_primary_outline:hover{
    color: #ffaa3a;
    background-color: #f8f8f8;
}
.primary_text_bold_26{
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;

    color: #FFAA3A;
}

section.faq__section{
    background: #fef6ce;
    height: 226px;
}

.modal_banner {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    max-height: 70%;
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 8rem;
}

.hide__animation{
    opacity: 0;
    visibility: hidden;
    transition: all ease 800ms;
}

.show__animation{
    opacity: 1;
    visibility: visible;
    transition: opacity ease 800ms;
}

.close__banner{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: #FFAA3A;
    border-radius: 50%;
    padding: 5px 8px;
    text-align: center;
    color: white;
    border: none;
    z-index: 999;
}

.modal__body{
    top: 50%;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50%;
    text-align: left;
    padding: 2rem;
    transform: translate(0, -50%);
}

.modal{
    margin-top: 2rem;
}

.modal_banner img{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}

.click__bakat{
    position: absolute;
    top: 12%;
    left: 52%;
}

.click__lelang{
    position: absolute;
    top: 42%;
    left: 42%;
}

.click__cinema{
    position: absolute;
    top: 70%;
    left: 48%;
}

.click__mamak{
    position: absolute;
    top: 58%;
    left: 59%;
}

.click__town{
    position: absolute;
    top: 30%;
    left: 70%;
}

a.click_area{
    z-index: 999;
    cursor: pointer;
}

.explain__box::before{
    content: "";
    width: 30px;
    height: 30px;
    left: 50%;
    top: -15px;
    display: block;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
    position: absolute;
    -webkit-transform: scaleX(.75) rotate(45deg);
    -ms-transform: scaleX(.75) rotate(45deg);
    transform: scaleX(.75) rotate(45deg);
    border-width: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    z-index: -1;
}

.title_inner_shadow__modal{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    color: transparent;
    background-color: rgba(0, 0, 0, 0.55);
    text-shadow: 0px 1px 3px rgb(255 170 58);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.d_purple_normal_14{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #412C60;
}

.list_custom_point{
    list-style: none;
    opacity: 1;
    padding: unset;
}

.list_custom_point li{
    display: inline-flex;
    align-items: center;
    margin: 10px 0;
}

.poin_list{
    flex: 0 0 44px;
    width: 44px;
    height: 44px;
    background: #FFAA3A;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 22px;
    margin-right: 1rem;
}

.modal_img_center{
    width: unset;
    height: unset!important;
    position: initial!important;
}

.hero__iframe {
  background: linear-gradient(270deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(../images/bg-new.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 90vh;
}

.hero__iframe h1 {
  font-weight: 300;
  font-size: 56px;
  line-height: 72px;
  color: #FFAA3A;
}

.hero__iframe h1.strong {
  font-weight: 800;
}

.hero__iframe h4 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #412C60;
}

.hero__iframe iframe {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

@media screen and (min-width: 2500px) {

    .click__lelang{
        top: 40%;
        left: 42%;
    }

    .click__cinema{
        top: 68%;
        left: 48%;
    }

    .click__mamak{
        top: 58%;
        left: 60%;
    }
}

@media screen and (max-width: 1366px) {
    .click__lelang{
        position: absolute;
        top: 42%;
        left: 42%;
    }

    .click__cinema{
        position: absolute;
        top: 70%;
        left: 48%;
    }

    .click__mamak{
        position: absolute;
        top: 58%;
        left: 59%;
    }

    .click__town{
        position: absolute;
        top: 30%;
        left: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .click__bakat{
        top: 10%;
        left: 52%;
    }

    .click__lelang{
        top: 28%;
        left: 42%;
    }

    .click__cinema{
        top: 45%;
        left: 48%;
    }

    .click__mamak{
        top: 38%;
        left: 59%;
    }

    .click__town{
        top: 22%;
        left: 70%;
    }

    .title_inner_shadow__modal{
        font-size: 24px;
        line-height: 32px;
    }

    .d_purple_normal_14{
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {

    .csb__carousel{
        width: 100%;
        height: 100vh;
        background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 40%), url(../images/bg-new.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .side__left_carousel{
        width: 100vw;
        left: 0;
    }
    .primary_text_normal_64, .primary_text_bold_64{
        font-size: 24px;
        line-height: 32px;
    }
    .d_purple_text_normal_24, .d_purple_text_bold_24{
        font-size: 14px;
        line-height: 21px;
    }
    .button_primary{
        padding: 10px 15px;
        font-size: 12px;
        line-height: 18px;
    }
    .primary_text_normal_18{
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
    }

    #paralax{
        padding-top: 10rem;
    }

    .par__img.town{
        width: 150%;
        left: -10rem;
        top: 25rem;
    }

    .content_1{
        top: -2rem;
    }

    .primary_text_normal_48, .title_inner_shadow{
        font-size: 32px;
        line-height: 36px;
    }

    .click__cinema {
        bottom: 15rem;
        left: unset;
        top: unset;
        right: 25rem;
    }

    .click__mamak {
        bottom: 20rem;
        left: unset;
        top: unset;
        right: 10rem;
    }

    .click__town {
        top: 45rem;
        left: unset;
        right: 3rem;
    }

    .click__lelang {
        top: 50rem;
        left: 28rem;
    }

    .click__bakat {
        top: 36rem;
        left: 40rem;
    }

    .modal_banner{
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(2.5px);
        border-radius: 20px;
        height: 100%;
        width: 100%;
        max-height: 90%;
        max-width: 90%;
        position: relative;
        overflow: hidden;
    }

    .modal__img {
        height: 400px;
        width: fit-content;
        border-bottom-left-radius: 5px;
    }

    .modal__body_mobile {
        margin: auto;
        text-align: center;
        padding: 2rem;
    }

    .cardz-slider{
        margin-top: 2rem;
    }

    .img__fitur{
        margin-top: 3rem;
        width: 100%;
    }

    .lelang_carousel_item .card {
        min-height: unset;
    }

    .slick-slide img {
        width: 120px !important;
    }

    .slick-current > .card {
        border-radius: 15px;
    }

    .explain__box{
        text-align: left;
        margin: auto 10px;
    }

    .explain__box::before{
        left: 8%;
    }

    .explain__box img{
        width: 100px;
    }

    .title_inner_shadow_24{
        font-size: 16px;
        text-align: left;
    }

    .black60_text_normal_18{
        font-size: 14px;
    }

    .join__zoom{
        height: fit-content;
        background: #FFAA3A;
        position: relative;
        padding: 2rem 0;
        padding-bottom: 10rem;
        overflow: unset;
    }

    .white_text_normal_48{
        font-size: 24px;
        line-height: 26px;
    }

    .white_text_500_18{
        font-size: 12px;
        line-height: 16px;
    }

    .white_text_500_22{
        font-size: 14px;
        line-height: 20px;
    }

    .outline_btn_prim {
        box-sizing: border-box;
        border-radius: 6px;
        padding: 10px 20px;
    }

    .card__soft{
        width: 110px;
    }

    .card__soft img{
        width: 60px;
    }

    .section_card__soft{
        width: 100vw;
        position: absolute;
        bottom: -6rem;
    }

    section.tips{
        padding-top: 4rem;
        height: 50vh;
    }

    .white_text_600_42{
        font-size: 24px;
        line-height: 26px;
    }

    section.qr-code .text-box {
        margin-left: unset;
        margin: 1rem;
    }

    .primary_text_bold_42{
        font-size: 24px;
        line-height: 26px;
    }

    .black_text_normal_18{
        font-size: 14px;
        line-height: 16px;
    }

    .button_primary_outline{
        padding: 10px 15px;
        font-size: 12px;
    }

    .card__soft .primary_text_bold_18{
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
    }

    .section_card__soft .d-flex{
        justify-content: center;
    }

    .section_card__soft .card__soft{
        margin: 0 1rem;
    }

    .img__stiker{
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .swiper-slide-active .custom-cardz-body{
        height: 12rem;
    }

    .img__stiker{
        width: 100%;
    }

    .card__soft{
        width: 110px;
    }

    .card__soft img{
        width: 60px;
    }

    .section_card__soft{
        width: 100vw;
        position: absolute;
        bottom: -6rem;
    }

    .click__cinema {
        bottom: 17rem;
        left: 13rem;
        top: unset;
    }

    .click__mamak {
        bottom: 20rem;
        left: 21rem;
        top: unset;
    }

    .click__town {
        top: 35rem;
        left: unset;
        right: 3rem;
    }

    .black60_text_normal_18{
        font-size: 12px;
        line-height: 20px;
    }

    .click__lelang {
        top: 36rem;
        left: 9rem;
    }

    .click__bakat {
        top: 30rem;
        left: 16rem;
    }

    .explain__box::before{
        left: 15%;
    }

    .modal-body{
        padding-top: 1rem!important;
    }

    .hero__iframe {
      background: linear-gradient(270deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(../images/bg-new.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 100px;
      padding-bottom: 100px;
      height: 90vh;
    }

    .hero__iframe h1 {
      font-weight: 300;
      font-size: 32px;
      line-height: 42px;
      color: #FFAA3A;
    }

    .hero__iframe h4 {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #412C60;
    }

    .hero__iframe iframe {
      width: 100%;
      height: 225px;
      border-radius: 10px;
    }

}
