.livestream_wrapper {
    min-height: 100vh;
    position: relative;
    /* border: 1px solid red; */
}

.livestream_marquee_wrapper {
    background: #05f62d;
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10001;
}

.livestream_marquee {
    /* border: 1px solid black; */
    background: #ffffff;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100vw;
    overflow: hidden;
}

.marquee {
    width: 100%;
    max-width: 100%;
    /* height: 30px; */
    padding: 10px 0;
    overflow-x: hidden;
}

.js-marquee {
    display: flex;
}

.marquee_track {
    /* position: absolute; */
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;

    display: flex;
    align-items: center;
}

.marquee_content {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffaa3a;
    border-right: 1px solid #ffaa3a;

    padding: 0 15px;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.order_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_header p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

.order_detail p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 10px;
}

.alert-primary {
    background: #009ef7 !important;
    border-color: #009ef7 !important;
    min-width: 325px !important;
    max-width: 325px !important;
}
.alert-success {
    background: #50cd89 !important;
    border-color: #50cd89 !important;
    min-width: 325px !important;
    max-width: 325px !important;
}
.alert-danger {
    background: #ff7a00 !important;
    border-color: #ff7a00 !important;
    min-width: 325px !important;
    max-width: 325px !important;
}

.alert-dark {
    min-width: 325px !important;
    max-width: 325px !important;
}

.alert-danger .order_detail {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    /*white-space: nowrap !important;*/
    /*-webkit-line-clamp: 2 !important;*/
    /*-webkit-box-orient: vertical !important;*/
}
.alert-success .order_detail {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    /*white-space: nowrap !important;*/
    /*-webkit-line-clamp: 2 !important;*/
    /*-webkit-box-orient: vertical !important;*/
}
.alert-primary .order_detail {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    /*white-space: nowrap !important;*/
    /*-webkit-line-clamp: 2 !important;*/
    /*-webkit-box-orient: vertical !important;*/
}
.alert-dark .order_detail {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    /*white-space: nowrap !important;*/
    /*-webkit-line-clamp: 2 !important;*/
    /*-webkit-box-orient: vertical !important;*/
}

@media screen and (max-width: 1024px) {
    .alert-primary {
        max-width: 150px !important;
    }
    .alert-success {
        max-width: 150px !important;
    }
    .alert-danger {
        max-width: 150px !important;
    }
}

#marquee {
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0.5rem;
    font-size: 18px;

    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 100%;

    background-color: #ffffff;
    color: #ffaa3a;
}
