#ktp_name {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 10px;
}

.terverifikasi {
    background: #e6ffdd;
    border-radius: 8px;
    color: #098b39;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label.file__input {
    display: inline-block;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}

.btn__success1 {
    background: #a6e491;
    box-shadow: 0px 0px 12px rgb(240 238 227 / 82%);
    border-radius: 6px;
    color: #098b39;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}
