.section-title{
    margin: 2rem 0;
}

.title_inner_shadow{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px; 
    
    align-items: center;
    text-align: center; 
    color: transparent;
    background-color: rgba(0, 0, 0, 0.55);
    text-shadow: 0px 1px 3px rgba(255, 170, 58);
    -webkit-background-clip: text;
        -moz-background-clip: text;
            background-clip: text;
}

.title_black{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px; 
    
    align-items: center;
    text-align: center; 
    color: black; 
}

.blog__card{
    margin: 2rem 0;
    padding: 6px 20px;
    cursor: pointer;
}
.blog__card:hover .blog__img{
    transition: all 400ms;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5)
}
 
.blog__img{
    width: 100%; 
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
}

.blog__title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

.blog__desc{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    
    color: #7d7d7d; 
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blog__desc p{
    margin: 0;
}

.blog_detail__title{
    margin: 4rem 0;
}

.blog__content{
    padding: 7rem 3rem 4rem;
    text-align: justify;
}

.blog__author{
    margin-top: 3rem;
}

.comment__item{
    border-bottom: 1px solid #8d8b8b;
    padding: 10px 0;
}

.comment__item .avatar__user{
    width: 50px;
    width: 50px;
    border-radius: 30px;
    object-fit: cover;
}

.comment__item .user__name{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px; 
    margin: 0;
    margin-left: 1rem;
    color: #000000;
}

.comment__item .user__comment{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    color: #8d8b8b; 
}

.primary__btn_blog{
    background: #ffaa3a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}

.good-share-modal{
    display: none;
}

.dropdown-item:hover{
    border-radius: 0;
}

.dropdown-item:focus{
    background: #ffaa3a;
}

@media screen and (max-width: 600px) {
    .title_inner_shadow {
        font-size: 32px;
        line-height: 42px; 
    }
}