@import "./blog.css"; 

/*** Custom CSS for Landing Page Here ***/
body {
    background-color: white!important;
    background-image: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.pass-text {
    color: #ffaa3a;
    font-weight: bold;
}

.pass-text:hover {
    color: #cb9043;
}

/* ====================================== FONT ====================================== */

.white-normal-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

.white-normal-20 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: white;
}

.white-semi-20 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: white;
}

.white-semi-32 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #ffffff;
}

.black-normal-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.75) !important;
}

.black-normal-15 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;

    color: #1b1d1f;
}

.black-normal-16 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: black !important;
}

.black-normal-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(27, 29, 31, 0.75) !important;
}

.black-normal-22 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: black !important;
}

.black70-normal-24 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    color: black !important;
}

.black75-normal-18 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(27, 29, 31, 0.75);
}

.black-normal-48 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;

    color: #1b1d1f;
}

.black-semi-20 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;

    color: #1b1d1f;
}

.black-semi-36 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
    color: black !important;
}

.black-bold-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    color: black !important;
}

.black-bold-16 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: black !important;
}

.black-bold-22 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: black !important;
}

.black-bold-24 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: black !important;
}

.black-bold-32 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: black !important;
}

.black-bold-36 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 72px;
    text-transform: capitalize;
    color: black !important;
}

.black-bold-48 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-transform: capitalize;
    color: black !important;
}

.custom-btn-blue {
    background: #009ef7;
    border: none;
    border-radius: 10px 10px 10px 0px;
    transition: color 0.5s ease, background-color 0.5s ease,
        border-color 0.5s ease, box-shadow 0.5s ease,
        -webkit-box-shadow 0.5s ease;
}

.custom-btn-blue:hover {
    background: #007ef7;
}

.custom-btn-primary-rounded {
    width: 100px;
    background: #ffaa3a;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px 10px 10px 10px;
    transition: color 0.5s ease, background-color 0.5s ease,
        border-color 0.5s ease, box-shadow 0.5s ease,
        -webkit-box-shadow 0.5s ease;
}

.custom-btn-primary-rounded:hover {
    background: #eca13f !important;
    color: white;
}

.omaru-btn {
    padding: 0 15px;
    height: 45px;
    border: solid 1px #ffaa3a;
    color: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    align-items: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.omaru-btn:hover {
    background: #ffaa3a;
    color: #ffffff;
}

.custom-btn-primary {
    padding: 0 25px;
    height: 45px;
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    align-items: center;
    display: flex;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.custom-btn-primary-outline {
    background: #fead4255;
    border: solid 1px #ffaa3a;
    color: #ffaa3a;
    border-radius: 10px 10px 10px 0px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.custom-btn-primary-outline:hover {
    background: #fead4273;
    color: #ff9f22;
}

.custom-btn-primary:hover {
    color: #ffffff;
    background: #e99b35;
}

/* ====================================== NAVBAR ====================================== */

#kt_header_menu {
    display: flex;
    align-items: center;
}

.custom-navbar-button {
    align-items: center;
    display: flex;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 0px;
    width: 125px;
    padding: 10px;

    font-weight: 500;
    font-size: 14px;
    color: #ffffff;

    background: #e52c2c;
}

.logout-button:hover {
    color: white;
    background: #d62929;
}

/* ====================================== FOOTER ====================================== */

.custom-footer {
    background: #ffaa3a;
    padding: 4rem 0;
}

.footer-image {
    margin-bottom: 32px;
}

.footer-copyright {
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.socmed-footer {
    margin-top: 32px;
}

.socmed-footer ul {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
}

.list-nav-footer {
    list-style: none;
}

.list-nav-footer li a {
    color: white;
}

.list-nav-footer li a:hover {
    color: white;
}

#kt_header .header .header-logo {
    display: block !important;
}

.nav-link:hover {
    background-color: #ffaa3a !important;
}

.nav-link.active {
    background-color: #ffaa3a !important;
}

#header-desktop {
    display: flex;
}

.home-header {
    width: 100%;
    height: 90vh;
    background: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url("../images/bg-new.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /* padding-top: 32px; */

    /* padding: 10rem 0; */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header .btn-warning {
    margin-top: 24px;
}

.btn-blue-auth {
    width: 7rem;
    height: 3rem;
    background: #009ef7;
    border: none;
    border-radius: 10px;
    transition: color 0.5s ease, background-color 0.5s ease,
        border-color 0.5s ease, box-shadow 0.5s ease,
        -webkit-box-shadow 0.5s ease;
    color: white;
}

.btn-blue-auth:hover {
    background: #007ef7;
    color: white;
}

.btn-outline-blue-auth {
    width: 7rem;
    height: 3rem;
    background: rgba(0, 158, 247, 0.08);
    border: solid 1px #009ef7;
    color: #009ef7 !important;
    border-radius: 10px;
    transition: color 0.5s ease, background-color 0.5s ease,
        border-color 0.5s ease, box-shadow 0.5s ease,
        -webkit-box-shadow 0.5s ease;
    color: white;
}

.btn-outline-blue-auth:hover {
    background: rgba(0, 156, 247, 0.238);
    color: white;
}

#kt_header .align-items-stretch .list-hidden-nav {
    display: none !important;
}

[class^="number-slide"],
[class*=" number-slide"] {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    max-height: 100vh;
    border-radius: 10px;
    padding: 12px 28px;
}

.slick-prev {
    left: -1.5rem !important;
}

.avatar-login {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.swal2-confirm.swal2-styled {
    background-color: #ffaa3a;
    padding: 0.8rem 3rem;
    font-size: 16px !important;
    font-weight: bold;
    border-radius: 10px;
}

@media screen and (max-width: 1399px) {
    .home-header .header-right .little-box-header {
        left: 4rem;
    }
}

@media screen and (max-width: 1280px) {
    /* .home-header {
        background: linear-gradient(
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("../images/bg-landing-1280.png");
        background-repeat: round;
        background-size: cover;
    } */
}

@media screen and (max-width: 1199px) {
    .home-header .header-right img {
        height: 40rem;
    }

    .home-header .header-right .little-box-header {
        bottom: 1rem;
    }
}

@media screen and (max-width: 991px) {
    #kt_header #kt_header_menu {
        display: block;
    }

    #kt_header_mobile #kt_header_mobile_toggle {
        display: contents;
    }

    #kt_header .align-items-stretch #custom-nav-btn {
        display: none;
    }

    #kt_header .align-items-stretch #custom-navbar li {
        margin: 1rem auto;
    }

    #kt_header .align-items-stretch #custom-navbar li .nav-link {
        width: 100%;
    }

    #kt_header .align-items-stretch .list-hidden-nav {
        display: flex !important;
    }

    #kt_header .align-items-stretch #custom-navbar {
        display: block;
        padding: 0 1rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 916px) {
    .home-header .header-right .little-box-header {
        bottom: 4rem;
    }
}

@media screen and (max-width: 880px) {
    .home-header .header-right .little-box-header {
        left: 1rem;
    }
}

@media screen and (max-width: 823px) {
    .home-header .header-right .little-box-header {
        bottom: 8rem;
        left: -2rem;
    }
}

@media screen and (max-width: 792px) {
    .home-header .header-right .little-box-header {
        bottom: 10rem;
        left: 1rem;
    }

    .home-header .header-right img {
        height: 35rem;
    }

    .home-header .header-right .little-box-header {
        width: 120px;
        height: 155px;
    }

    .home-header .header-right .little-box-header .black-bold-48 {
        font-size: 36px;
    }

    .home-header .header-right .little-box-header .black-normal-16 {
        font-size: 14px;
    }

    .home-header .black-bold-48 {
        font-size: 24px;
        line-height: 32px;
        color: black !important;
    }
}

@media screen and (max-width: 768px) {
    .home-header .header-right {
        display: none;
    }

    .black-bold-36 {
        font-size: 26px;
        line-height: 36px;
    }

    .black75-normal-18 {
        font-size: 14px;
        line-height: 21px;
    }

    .black-normal-48 {
        font-size: 26px;
        line-height: 36px;
    }

    .white-semi-32 {
        font-size: 20px;
        line-height: 27px;
    }

    .white-normal-14 {
        font-size: 12px;
        line-height: 18px;
    }

    .black-normal-22 {
        font-size: 14px;
        line-height: 18px;
    }

    .black-normal-14 {
        font-size: 12px;
        line-height: 18px;
    }

    .black-semi-36 {
        font-size: 20px !important;
        line-height: 27px;
    }

    .black-normal-14 {
        font-size: 12px;
        line-height: 18px;
    }

    .black-bold-32 {
        font-size: 26px;
        line-height: 36px;
    }

    .col-sm-6 .black-normal-22 {
        margin-top: 1rem;
    }

    .list-nav-footer {
        padding: 0;
    }

    .black-normal-16 { 
        line-height: 24px;
        font-size: 14px; 
    }
}


@media screen and (max-width: 425px) {
    .home-header {
        align-items: flex-start;
    }
}

.join_btn {
    background: #ffaa3a;
    border-radius: 10px 10px 10px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    width: 250px;
    margin-top: 25px;
}

.join_btn:hover {
    color: #ffffff;
}

.footer_tele {
    margin: 15px auto;
}

.footer_tele button {
    background: #009ef7;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.footer_tele button:hover {
    color: #ffffff;
    background: #028cdc;
}

.footer_tele button img {
    margin-right: 5px;
    margin-top: -3px;
}

@media screen and (max-width: 425px) {
    .white-semi-20 {
        font-size: 16px;
        line-height: 24px;
    }

    .white-normal-20 {
        font-size: 12px;
        line-height: 16px;
    }

    .footer_tele button {
        font-size: 14px;
        line-height: 18px;
    }

    .footer-copyright {
        margin-top: 3rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 425px) {
    .custom-btn-primary {
        width: 100% !important;
        font-size: 14px;
        line-height: 24px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-btn-primary-outline {
        font-size: 14px;
        line-height: 24px;
        width: 100%;
    }

    .omaru-btn {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
    }

    .logout-button {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
    }

    .custom-navbar-button {
        width: 100%;
    }
}

.login_with_google button {
    background: #ffffff;
    border: 3px solid #4285f4;
    box-sizing: border-box;
    border-radius: 10px;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #4285f4;

    padding: 15px 25px;

    margin: 15px auto;
}

.login_with_google button img {
    margin-top: -3px;
    margin-right: 15px;
}

@media screen and (max-width: 425px) {
    .login_with_google button {
        background: #ffffff;
        border: 3px solid #4285f4;
        box-sizing: border-box;
        border-radius: 10px;

        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        color: #4285f4;

        padding: 10px 20px;

        margin: 15px auto;
    }

    .login_with_google button img {
        margin-top: -3px;
        margin-right: 15px;
    }
}
