/*** Custom CSS Here ***/
@import "../user-dashboard/navbar.css";
@import "../user-dashboard/home.css";
@import "../user-dashboard/tebak-kata.css";
@import "../user-dashboard/quiz-win.css";
@import "../user-dashboard/quiz.css";
@import "../user-dashboard/coming-soon.css";
@import "../user-dashboard/input-quiz.css";
@import './regional.css';

body {
    background-image: linear-gradient(
            180deg,
            rgba(255, 170, 58, 0.2) 0%,
            rgba(255, 170, 58, 0.2) 0.02%,
            rgba(255, 170, 58, 0) 198.95%
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/regional/bg/bg.png");
    background-size: 100% 450px;
}

@media screen and (max-width: 1440px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/regional/bg/bg-big.png");
    }
}

@media screen and (max-width: 1366px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/regional/bg/bg-1366.png");
    }
}
@media screen and (max-width: 1280px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/regional/bg/bg-1280.png");
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/regional/bg/bg-1024.png");
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/regional/bg/bg-768.png");
    }
}

@media screen and (max-width: 425px) {
    body {
        background-image: linear-gradient(
                180deg,
                rgba(255, 170, 58, 0.2) 0%,
                rgba(255, 170, 58, 0.2) 0.02%,
                rgba(255, 170, 58, 0) 198.95%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/regional/bg/bg-425.png");
    }
}
